h1 {
    text-align: center;
    font-size: 90px;
    color: white;
}
body {
    background-color: rgb(44, 42, 41);
}
li {
    text-align: center;
    font-size: 40px;
    color: white;  
}
a {
    color: white;
}
div {
    background-color: rgb(22, 19, 40);
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 6px 6px 12px 12px rgb(22, 16, 107);

}
