*{
    margin: 0; 
    padding: 0;
  }
  body {
    background-image: url('wallpaper.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0;
}

  section {
    width: 780px;
    height: auto;
    margin: 50px auto;
  }
  
  section label {
    width: 175px;
    padding: 10px 2px;
    margin-left: 10px;
    margin-bottom: 15px;
    display: block;
    float: left;
    color: #ffffff;
    font-family: 'Arial';
    text-align:center;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #ffffff;
  }
  
  #galeria img {
    float: left;
    width:250px;
    padding: 5px;
    transition: all .4s;
  }
  
  input:checked + label {
    background-color: #383838;
    color: #FFF;
  }
  
  input {
   display: none;
  } 
  
  #bt_website:checked ~ #galeria .systems,
  #bt_website:checked ~ #galeria .app {
     opacity: .4;
     transform: scale(0.5);
  }
  
  #bt_systems:checked ~ #galeria .website,
  #bt_systems:checked ~ #galeria .app {
    opacity: .4;
    transform: scale(0.5);
  }
  
  #bt_app:checked ~ #galeria .website,
  #bt_app:checked ~ #galeria .systems{
    opacity: .4;
    transform: scale(0.5);
  }