body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px solid #000000;
    padding: 2px;
    width: 50px;
    height: 40px;
    position: relative;
    
}

td:empty {
    border: none;
}

.tabela {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.hidrogenio {
    background-color: rgba(200, 200, 200, 0.5);
}

.gasnobre {
    background-color: rgba(173, 216, 230, 0.5);
}

.metalalcalino {
    background-color: rgba(192, 128, 255, 0.5);
}

.metalalcalinoterroso {
    background-color: rgba(230, 180, 255, 0.5);
}

.metalrepresentativo {
    background-color: rgba(255, 165, 100, 0.5);
}

.semimetal {
    background-color: rgba(255, 255, 150, 0.5);
}

.naometalrepresentativo {
    background-color: rgba(255, 210, 160, 0.5);
}

.metaldetransicao {
    background-color: rgba(255, 160, 180, 0.5);
}

.lantanoide {
    background-color: rgba(144, 238, 144, 0.5);
}

.actinoide {
    background-color: rgba(200, 255, 200, 0.5);
}

.numeroatomico {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 10px;
}

.massaatomica {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
}

.simbolo {
    font-size: 18px;
}

.nome {
    position: absolute;
    text-align: center;
    font-size: 8px;
}
