  body {
    background-image: url("https://static.vecteezy.com/ti/fotos-gratis/t2/4479474-pintado-cinza-fundo-com-textura-de-metal-gratis-foto.jpg")
  }
 
h1{
    color: black;
    text-align: center;
}

h2{
    color: blue;
    text-align: center;
}