.body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: white;
}
 h1,h2,p{
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
    background-color: black;
 }