body {
    background-image: linear-gradient(black, white);
}
header {
    background-color: #000000;
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
ul {
    color: black;
    font-family:'Courier New', Courier, monospace;
    margin-left: auto;
}
.photo {
       width: 400px;
}
.tech {
    text-align: center;

}
.gosto {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.cap {
    color:#4e4b4b;
    font-family:'Courier New', Courier, monospace;
}
.family {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.forms {
    color: #ffffff;
}
.opa {
    background-color: #000000;
    color: white;
    font-family:'Courier New', Courier, monospace;
}
.foto {
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
.height {
    color:#000000;
}
.resumo {
    color: #ffffff;
    text-align: center;
    margin-bottom: auto;
    font-family: 'Courier New', Courier, monospace;
}
.data {
    background-color: #000000;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    color: #ffffff;
    padding: 15px;
    text-align: left;
    display: flex;
}
input[type="submit"] {
    display: block;
    width: 30%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 200px;
}
.fala {
    margin: auto;
    color:black;
    text-align: center;
}
.olhe {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: #000000;
}