body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8c709a;
    margin: 0;
}


.container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}


h1 {
    color: #3e3a3a;
    font-size: 1.5em;
}


button {
    background-color: #59327b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4b018d8c;
}


#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}