body {
    margin: 0%;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(90deg, rgb(122, 118, 118), rgb(0, 0, 0));
}

.container {
    position: relative;
    width: 100%;
    height: 91vh;
    overflow: hidden;
    z-index: -1;
    background: linear-gradient(90deg, rgb(122, 118, 118), rgb(0, 0, 0));
}

.bolhas {
    position: absolute;
    display: flex;
}

.bolhas span {
    width: 30px;
    height: 30px;
    background: rgb(122, 118, 118);
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgb(102, 98, 98),
        0 0 50px rgb(82, 78, 78),
        0 0 100px rgb(0, 0, 0);
    animation: animar calc(60s / var(--i)) linear infinite;
}

@keyframes animar {
    0% {
        transform: translateY(80vh) scale(0);
    }

    100% {
        transform: translateY(-20vh) scale(1);
    }
}

.bolhas span:nth-of-type(even) {
    background: rgb(85, 84, 84);
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgb(65, 64, 64),
        0 0 50px rgb(45, 44, 44),
        0 0 100px rgb(0, 0, 0);
}

h2 {
    text-align: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background: transparent;

}

a {
    text-decoration: none;
    color: rgb(142, 138, 138);
}

a:hover {
    color: rgb(122, 118, 118);
}

section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-basis: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white)
}
article {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    position: relative;
    padding-block: 32px;
}
h1{
    background: transparent;
}

