@keyframes colorChangePlatinum {
    0%{fill:#011640}
    10%{fill:#0468BF}
    20%{fill: #0468BF}
    30%{fill: #0487D9}
    40%{fill: #0487D9}
    50%{fill: #049DD9}
    60%{fill: #049DD9}
    70%{fill: #F2F2F2}
    80%{fill: #F2F2F2}
    100%{fill: #011640}
}
@keyframes colorChangeGold {
    0%{fill: #F2F2F2}
    10%{fill:#011640}
    20%{fill: #011640}
    30%{fill: #0468BF}
    40%{fill: #0468BF}
    50%{fill: #0487D9}
    60%{fill: #0487D9}
    70%{fill: #049DD9}
    80%{fill: #049DD9}
    100%{fill: #F2F2F2}
}
@keyframes colorChangeRose {
    0%{fill:#049DD9}
    10%{fill:#F2F2F2}
    20%{fill: #F2F2F2}
    30%{fill: #011640}
    40%{fill: #011640}
    50%{fill: #0468BF}
    60%{fill: #0468BF}
    70%{fill: #0487D9}
    80%{fill: #0487D9}
    100%{fill: #049DD9}
}
.start_animation .platinum {
    animation: colorChangePlatinum 9s infinite;
}
.start_animation .gold {
    animation: colorChangeGold 9s infinite;
}
.start_animation .rose {
    animation: colorChangeRose 9s infinite;
}
body{
    background: #F2F2F2;
}