body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #888484; */
}

header {
    background-color: #303d42;
    color: white;
    padding: 1px;
    text-align: center;
    width: 100%;
}

p {
    text-align: center;
}