@media (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(225, 198, 90);
    counter-reset: section;
    /* Reseta o contador para a numeração */
  }

  .titulo-numerado {
    display: flex;
    /* Para centralizar o número e o texto */
    justify-content: center;
    /* Centraliza horizontalmente o número e o texto */
    align-items: center;
    /* Centraliza verticalmente o número e o texto */
    margin-bottom: 15px;
  }

  .titulo-numerado::before {
    content: counter(section);
    /* Adiciona o número */
    counter-increment: section;
    /* Incrementa o contador para cada novo título */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    /* Largura da bolinha */
    height: 20px;
    /* Altura da bolinha */
    background-color: #000;
    /* Cor de fundo da bolinha */
    color: #fff;
    /* Cor do número */
    border-radius: 50%;
    /* Faz a bolinha ser redonda */
    font-size: 12px;
    /* Tamanho do número */
    margin-right: 10px;
    /* Espaço entre a bolinha e o texto */
  }

  h1 {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    /* Adicionando bordas arredondadas */
    margin: 20px auto;
    /* Centralizando horizontalmente com margem automática */
    max-width: 30%;
    /* Limitando a largura máxima do h1 */
    background-color: rgba(255, 255, 255, 0.888);
    /* Cor de fundo para a faixa */
  }

  h2 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  main {
    background-color: rgb(234, 234, 234);
    width: 70%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: 2px solid #000;
    border-radius: 10px;
  }

  a {
    color: rgb(138, 138, 0);
  }

  p {
    text-align: center;

  }

  h2 {
    font-size: 30px;
  }

  iframe {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 50%;
    height: 40%;
    margin-bottom: 8%;
  }

  .menu {
    margin-top: 30px;
    margin-left: 30px;
  }

  .menu .menu-lines {
    position: fixed;
    z-index: 999;
    width: 35px;
    height: 35px;

  }

  .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: rgb(169, 169, 169);
    border-radius: 3px;
    transition: all ease .2s;
  }

  .menu .menu-fake {
    position: fixed;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
  }

  .menu .menu-fake:checked~.menu-lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg)scaleX(1.25);
  }

  .menu .menu-fake:checked~.menu-lines span:nth-child(2) {
    opacity: 0;
  }

  .menu .menu-fake:checked~.menu-lines span:nth-child(3) {
    transform: rotate(-45deg)scaleX(1.25);
    transform-origin: 0% 100%;
  }

  .menu ul {
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300px;
    background-color: rgb(19, 19, 19);
    height: 100vh;
    padding-top: 100px;
    margin-left: -300px;
    transition: all ease .4s;
  }

  .menu .menu-fake:checked~ul {
    margin-left: 0;
  }

  .menu ul li {
    padding: 10px 30px;

  }

  .menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 300px;
    letter-spacing: 2px;
  }

  .menu ul li a:hover {
    color: rgb(169, 169, 169);
    transition: all ease .3s;
  }

  html {
    scroll-behavior: smooth;
  }

  */ #valor {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    color: black;
    margin-left: 30%;
    margin-right: 50%;
    display: inline-block;
  }

  button {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    color: black;

    /* display: inline-block; */
  }

  #resultado {
    color: rgb(138, 138, 0);
    margin-left: 25%;
    margin-top: 2%;
    font-size: 23px;
  }

  .espaco {
    margin-left: 70px;
  }

  .meio {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Espaçamento entre as imagens */
  }

  .barca img {
    width: 450px;
    height: 250px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .copyright p {
    text-align: center;
  }

  .linha {
    text-align: center;
    margin-left: 100px;
  }

  .poco {
    margin-left: 70px;
    margin-bottom: 10px;
  }
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------CELULAR ABAIXO----------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(225, 198, 90);
    counter-reset: section;
    /* Reseta o contador para a numeração */
  }

  .titulo-numerado {
    display: flex;
    /* Para centralizar o número e o texto */
    justify-content: center;
    /* Centraliza horizontalmente o número e o texto */
    align-items: center;
    /* Centraliza verticalmente o número e o texto */
    margin-bottom: 15px;
    font-size: 15px;
  }

  .titulo-numerado::before {
    content: counter(section);
    /* Adiciona o número */
    counter-increment: section;
    /* Incrementa o contador para cada novo título */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    /* Largura da bolinha */
    height: 20px;
    /* Altura da bolinha */
    background-color: #000;
    /* Cor de fundo da bolinha */
    color: #fff;
    /* Cor do número */
    border-radius: 50%;
    /* Faz a bolinha ser redonda */
    font-size: 12px;
    /* Tamanho do número */
    margin-right: 10px;
    /* Espaço entre a bolinha e o texto */
  }

  h1 {
    text-align: center;
    font-size: 25px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    /* Adicionando bordas arredondadas */
    margin: 20px auto;
    /* Centralizando horizontalmente com margem automática */
    width: 170px;
    /* Limitando a largura máxima do h1 */
    background-color: rgba(255, 255, 255, 0.888);
    /* Cor de fundo para a faixa */
  }

  h2 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
  }

  main {
    background-color: rgb(234, 234, 234);
    width: 400px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: 2px solid #000;
    border-radius: 10px;
  }

  a {
    color: rgb(138, 138, 0);
  }

  p {
    text-align: center;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  iframe {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 50%;
    height: 40%;
    margin-bottom: 8%;
  }

  .menu {
    margin-top: 30px;
    margin-left: 30px;
  }

  .menu .menu-lines {
    position: fixed;
    z-index: 999;
    width: 35px;
    height: 35px;

  }

  .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: rgb(169, 169, 169);
    border-radius: 3px;
    transition: all ease .2s;
  }

  .menu .menu-fake {
    position: fixed;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
  }

  .menu .menu-fake:checked~.menu-lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg)scaleX(1.25);
  }

  .menu .menu-fake:checked~.menu-lines span:nth-child(2) {
    opacity: 0;
  }

  .menu .menu-fake:checked~.menu-lines span:nth-child(3) {
    transform: rotate(-45deg)scaleX(1.25);
    transform-origin: 0% 100%;
  }

  .menu ul {
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300px;
    background-color: rgb(19, 19, 19);
    height: 100vh;
    padding-top: 100px;
    margin-left: -300px;
    transition: all ease .4s;
  }

  .menu .menu-fake:checked~ul {
    margin-left: 0;
  }

  .menu ul li {
    padding: 10px 30px;

  }

  .menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 300px;
    letter-spacing: 2px;
  }

  .menu ul li a:hover {
    color: rgb(169, 169, 169);
    transition: all ease .3s;
  }

  html {
    scroll-behavior: smooth;
  }

  */ #valor {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    color: black;
    margin-left: 30%;
    margin-right: 50%;
    display: inline-block;
  }

  button {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    color: black;

    /* display: inline-block; */
  }

  #resultado {
    color: rgb(138, 138, 0);
    margin-left: 25%;
    margin-top: 2%;
    font-size: 23px;
  }

  .espaco {
    margin-left: 25px;
    margin-right: 10px;
    font-size: 15px;
  }

  .meio {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Espaçamento entre as imagens */
  }

  .barca img {
    width: 250px;
    height: 150px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 10px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .copyright p {
    text-align: center;
  }

  .linha {
    text-align: center;
    margin-left: 100px;
  }
}