html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #B5FFFC;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0); }
}

header {
    position: fixed;
    width: 100%;
    background: linear-gradient(to bottom, #FFDEE9, #B5FFFC);
    animation: fadeIn 2s;
}

li:hover {
    transform: scale(1.4);
    transition: 0.9s;
}

nav ul li {
    display: inline-block;
    color: black;
    margin-right: 5.5vw;
    margin-left: 5.5vw;
    font-size: 1.3rem;
}

a:hover,
a:active,
a:visited,
a:link {
    color: black;
    text-decoration: none;
}

.titulo {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 15%;
    height: 70vh;
    animation: fadeIn 2s;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.poema {
    width: 30%;
}

.poema h1 {
    font-size: 1.6rem;
}

.poema p {
    font-size: 0.85rem;
    text-align: justify;
}