body {
    background-color: #0c74c4;
    text-align: center;

}

i {
    color:white;

}

h1 {
    color:white;
}

h2 {
    color:white;
    color: rgb(255, 255, 255);
}

p {
    color:rgb(255, 255, 255);
}

img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

ul {
    color:white;
}

h3 {
    color: white;
}
p2 {
    color: white;
}