body {
    background-image: url(fundoo.jpg);
    font-style: italic;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #76bfe4;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #011162;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}