@media (min-width: 768px) {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    font-family: cooper black;
    font-weight: 300;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-image: radial-gradient(circle, rgb(255, 98, 0), rgb(160, 13, 245));
  }

  :root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
    /*
    --color-primary: #5192ED;
    --color-secondary: #69A1F0;
    --color-tertiary: #7EAEF2;
    --color-quaternary: #90BAF5;
    --color-quinary: #A2C4F5;
    */
  }

  .content {
    align-content: center;
    justify-content: center;
  }

  .text_shadows {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
      9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-family: cooper black;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    color: transparent;
    background-color: white;
    background-clip: text;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
  }

  @keyframes shadows {
    0% {
      text-shadow: none;
    }

    10% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }

    20% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }

    30% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    40% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }

    50% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }

    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }

    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }

    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }

    100% {
      text-shadow: none;
    }
  }

  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }

    40% {
      transform: translate(-12px, -12px);
    }

    50% {
      transform: translate(-12px, -12px);
    }

    60% {
      transform: translate(-12px, -12px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  button {
    padding: 20px 40px;
    background-color: #ee6352;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: cooper black;
    font-size: 20px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    color: white;
    border-color: #ee6352;
  }

  button:hover {
    box-shadow: 0 10px 18px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

  }

  a {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    font-family: cooper black;
    font-weight: 200;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-image: radial-gradient(circle, rgb(255, 98, 0), rgb(160, 13, 245));
  }

  :root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
    /*
    --color-primary: #5192ED;
    --color-secondary: #69A1F0;
    --color-tertiary: #7EAEF2;
    --color-quaternary: #90BAF5;
    --color-quinary: #A2C4F5;
    */
  }

  .content {
    align-content: center;
    justify-content: center;
  }

  .text_shadows {
    text-shadow: 2px 2px 0 var(--color-secondary), 4px 4px 0 var(--color-tertiary),
      6px 6px var(--color-quaternary), 8px 8px 0 var(--color-quinary);
    font-family: cooper black;
    font-weight: 150;
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    color: transparent;
    background-color: white;
    background-clip: text;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
  }

  @keyframes shadows {
    0% {
      text-shadow: none;
    }

    10% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }

    20% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }

    30% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    40% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }

    50% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }

    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }

    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }

    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }

    100% {
      text-shadow: none;
    }
  }

  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }

    40% {
      transform: translate(-12px, -12px);
    }

    50% {
      transform: translate(-12px, -12px);
    }

    60% {
      transform: translate(-12px, -12px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }

  button {
    padding: 15px 30px;
    background-color: #ee6352;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: cooper black;
    font-size: 20px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    color: white;
    border-color: #ee6352;
  }

  button:hover {
    box-shadow: 0 10px 18px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

  }

  a {
    margin-left: auto;
    margin-right: auto;
  }
}