@media (min-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #263238;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        padding: 20px;
        border: 2px solid #000;
        border-radius: 10px;
        margin: 20px auto;
        max-width: 30%;
        background-color: white;
        margin-top: 30px;
        color: black;
    }
    

    header {
        background-color: #263238; 
        padding: 10px 0; 
        color: white; 
        text-align: center;
    }    

    .container {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        flex-wrap: wrap;
    }
    
    .box {
        background-color: rgb(18, 30, 36);
        border-radius: 8px;
        padding: 20px;
        width: 250px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .box h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    
    .box p {
        font-size: 1em;
        line-height: 1.6;
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
    }
    
    .box:hover {
        transform: translateY(-10px);
    }


    .logo{
        width: 100%;
        text-align: center;
    }

}



@media (max-width: 768px) {}