body {
    background-color: #61d3f2;   
}

.contorno {
    background-color: #3a93ab;
    border-radius: 30px;
    margin-top: 15px;
    width: 50%;
    text-align: center;
    margin-left: 295px;
    margin-right: 295px;
    border-style: solid;
    border-color: black;
    align-items: center;
    align-content: center;
    align-self: center; 
}

iframe {
    margin: 40px;
}

img {
    margin-top: 40px;
}