img {
    width: 200px;
}

head, body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

h1, h2, p {
    font-style: italic;
    text-align: center;
}

body { 
    background-color: rgb(254, 183, 183);
}

h1 {
    margin-top: 30px;
    color: rgb(138, 36, 36);
}

h2 {
    color: rgb(110, 24, 24);
    font-size: 30px;
    background-color: rgb(244, 132, 132);
    margin-top: 0;
}

p {
    color: rgb(185, 30, 30);
}

.image {
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(121, 27, 27);
    color: rgb(222, 145, 145);
    padding: 30px ;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

nav {
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: rgb(66, 9, 9);
    text-decoration: none;
    padding: 0 10px;
    text-align: center;
    font-size: 30px;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}