h1 {
    text-align: center;
}
.aprenda {
    text-align: center;
}
.treine {
    text-align: center;
}
.videos{
    text-align: center;
}
iframe {
    border-radius: 20px;
    box-shadow: 0 0 20px 0 black;
}
.video {
        border-radius: 19px;
        text-align: center;
        display: flex;
        gap: 10px;
}
.geral {
    display: flex;
        gap: 2px;
        height: 170px;
        width: 90%;
        background-color: rgb(255, 124, 124);
        margin: auto;
        border-radius: 20px;
        padding: 6px;
        border-style: solid;
        border-width: 4px;
        border-color:rgb(20, 20, 20);
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: 10px;
        margin-bottom: 5px;

}
.text {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
section {
    margin-top: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin: 10px;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
p {
    margin-top: -10px;
}
body {
    background: linear-gradient(0deg, black, white);
}
.geral::-webkit-scrollbar {
    height: 8px;
}
.geral::-webkit-scrollbar-thumb {
    background-color: rgb(156, 156, 156);
    border-radius: 20px;
}
.geral::-webkit-scrollbar-track {
    background-color: aliceblue;
    border-radius: 20px;
}
p {
    font-size: 18px;
}
.sugestao {
    font-size: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 15px;
}
h3{
    font-size: 22px;
    margin-bottom: -10px;
}
a:link {
text-decoration: none;
color: blue;
}
a:visited {
    color: blue;
}
a:hover {
    color: black;
}
.fungo {
    margin-top: -30px;
    text-align: right;
}
.gambiarra {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.hahaha {
    color: rgb(255, 255, 255);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    background-image: url(Imagens/Imagemobrigatoria.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}