body{
    background: linear-gradient(90deg, pink, rgb(255, 0, 106), pink);
    text-align: center;
}

h1,h2{
font-family: Arial, Helvetica, sans-serif;
} 

.familia{
    position:center:
}
.text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.manu{
    height: 800px;
}
.papiti{
height: 400px;
}

.familiaamiga{
    font-family: Arial, Helvetica, sans-serif;
}