
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0; 
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            
    background: linear-gradient(90deg, rgb(198, 198, 198), rgb(114, 98, 255), rgb(198, 198, 198))
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
            padding: 20px;
            max-width: 1200px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .gallery img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 8px;
            transition: transform 0.3s ease;
        }
        .gallery img:hover {
            transform: scale(1.05);
        }
   
       .container {

        text-align: center;
        font-family: initial;
     }

     h1,h2,p{
        color: rgb(35, 0, 83);
     }