nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    color: white;
 }
 .nav-list{
     list-style: none;
     display: flex;
 }
 .nav-list, li{
     letter-spacing: 3px;
     margin-left: 15px;
     margin-right: 15px;
 }
 header{
     background-color: rgb(37, 37, 37);
     
 }
 *{
     margin: 0;
     padding: 0;
 }
 a{
     color: white;
     text-decoration: none;
 
 }
 a:hover{
     opacity: 0.8;
 }
 .img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
 }
 section{
    column-count: 5;
    column-gap: 10px;
 }
 body{
    background-color: rgb(37, 37, 37);
 }
 img:hover{
    transform: scale(1.3);
    transition: 0.5s linear;
 }
 footer{
    background-color: rgb(37, 37, 37);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 9px;
 }
 .eggc{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
 }