body{
    background-image: url(imagens/site2.jpg);
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 8vh;
   color: white;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list, li{
    letter-spacing: 3px;
    margin-left: 15px;
    margin-right: 15px;
}
header{
    background-color: rgb(37, 37, 37);
    
}
*{
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;

}
a:hover{
    opacity: 0.8;
}
footer {
    background-color: rgb(37, 37, 37);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 9px;
}
.txt{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    color: white;
    width: 300px;
    height: 400px;
}
p{
    padding: 5px;
    text-align: center;
    
    
}