@media(min-width: 768px){
    body {
        background-color: rgb(7, 7, 7);
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header {
        color: #960258;
        text-align: center;
        padding: 20px 0;
    }
    h1 {
        margin: 0;
    }
    .container {
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .section {
        margin-bottom: 20px;
        text-align: center;
        background-color: rgba(153, 157, 169, 0.758);
        margin: 20px;
        margin-right: auto; 
    }
    .section h2 {
        margin-top: 0;
    }
    .section p {
        margin-top: 5px;
    }
}

@media(max-width: 768px){
    body {
        background-color: rgb(164, 116, 159);
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header {
        color: #64086aa6;
        text-align: center;
        padding: 20px 0;
    }
    h1 {
        margin: 0;
    }
    .container {
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .section {
        margin-bottom: 20px;
        text-align: center;
        background-color: #7c1db893;
    }
    .section h2 {
        margin-top: 0;
    }
    .section p {
        margin-top: 5px;
    }
}

