@media(min-width: 768px) {
    body {
        background-color: rgba(137, 43, 226, 0.317);
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
}

header {
    color: rgba(92, 13, 129, 0.557);
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0%;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(55, 21, 105, 0.543);
    margin: 20px;
    margin-right: auto;
}

.section h2 {
    margin-top: 0%;
}

.section p {
    margin-top: 5px;
}

@media (max-width 768px) {
    body {
        background-color: rgba(4, 49, 147, 0.699);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0%;
        padding: 0;
        box-sizing: border-box;
    }
}

header {
    color: rgba(90, 16, 237, 0.628);
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0%;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(55, 21, 105, 0.543);
    margin: 20px;
    margin-right: auto;
}

.section h2 {
    margin-top: 0%;
}

.section p {
    margin-top: 5px;
}

.section pdf{
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(55, 21, 105, 0.543);
    margin: 20px;
    margin-right: auto;
}

.section idiomas{
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(55, 21, 105, 0.543);
    margin: 20px;
    margin-right: auto; 
}