
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
    background-color: #d6ddf5;
}


header {
    background: #193168;
    color: #f9f9f9;
    padding: 1rem 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #f5ecec;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem 0;
}

.container {
    width: 70%;
    margin: 0 auto;
    
}



section {
    padding: 1rem 0;
    background: #fff;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input, form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 0.7rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background: #359169;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer p {
    margin: 0;
}
