h1{
    color: white;
    text-align: center;
    }
body{
        background-color: rgb(37, 37, 37);
    }
img{
        display: flex;
        border-radius: 300px;
        margin-right: auto;
        align-items: center;
        margin-left: auto;
    }
h2{
        text-align: center;
        color: white;
        justify-items: center;
        /* display: block; */
        align-items: flex-start;
    }
h3{
        text-align: center;
        color: white;
        display: flex;
        display: block;
        align-items: right;
        
    
    
    }
textarea {
        color: white;
        background-color: rgb(79, 0, 95) ;
        text-align: center;
        /* display: block; */
        /* margin-left: auto;
        margin-right: auto; */
        border-radius: 50px;
        border-color: rgb(93, 2, 178);
        border-width: 3px;
        
    }   
p{
        text-align: center;
        color: white;
    }
    /* 
.geral {
        display: flex;
    } */