body {
    background: linear-gradient(180deg, rgb(0, 255, 255), rgb(0,0,0));
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    max-width: 100%;
    background-attachment: fixed;
}
.bar {
    width: 200px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    margin: 20px auto 0 auto;
    border-radius: 30px;
    align-content: center;
    padding: 7px;
    display: flex;
}
.bar input {
    margin: 4px;
    background-color: transparent;
    outline: none;
    border: transparent;
}
.ali {
    margin: auto 2px auto 0;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 8vh;
   color: white;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list{
    letter-spacing: 3px;
     margin-right: 910px;
}
header{
    background-color: rgba(37, 37, 37, 1);
}

.alunos {
    padding: 1%;
    text-align: center;
}
.nomes{
    width: 120px;
    height: 60px;
    background-color: rgb(20, 181, 181);
    color: black;
    display: inline-block;
    margin: 6px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(6, 1, 46);
}
#filter input span{
    color: white;
    padding-bottom: 1vw;
    display: flex;
    justify-content: space-evenly;
}
@keyframes animacao-rgb {
    0% { background-color: rgb(0, 255, 255); }
    33% { background-color: rgb(255, 255, 0); }
    66% { background-color: rgb(255, 0, 200); }
    100% { background-color: rgb(0, 255, 255); }
  }
  
  .nomes:hover {
    animation: animacao-rgb 3s infinite;
  }
  a{
    text-decoration: none;
    color: black;
  }
