body {
    background-image:url(fundo.jpg)
}

 h1{

    color: rgba(217, 204, 218, 0.913);
    text-align:start
 }

 h2{
    color: rgba(217, 204, 218, 0.913);
    text-align:start
 }

 h2{
    color: rgba(217, 204, 218, 0.913);
    text-align:start
 }
 
 p{
    color: rgba(217, 204, 218, 0.913);
    text-align:start
 }

 

.meio {
   text-align: center;
   color: aliceblue;
}
.fonte-personalizada {
   font-family: 'Times New Roman', Times, serif, 'Times New Roman', serif, sans-serif; /
}

section {
   background-color: rgb(0, 0, 0);
   width: fit-content;
   border-radius: 15px;
   margin-left: auto;
   margin-right: auto;
}

h3{
   color: aliceblue;
}

.texto{ 
      color: rgba(88, 17, 156, 0.833);
      margin: auto;
      width: 400px;

}