  body {
    margin: auto;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b3b0b0;
  }

  main {
    padding: 20px;
    margin: 20px 0;
  }

  nav ul li{
    display: inline;
    margin: 0 1em;
  }

  header {
    background-color: #a8a7a7;
    color: #391212;
    text-align: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    height: 100px;
    z-index: 1;
    }
  


  
  header.scrolled {
    height: 51px; /* Altura reduzida do header quando rolado */
  }
  
  section {
    padding-top: 100px; /* Espaço para o header quando não está fixo */
  }

  header {
    padding: 15px;
  }

  .secao1{
    background-color: #b3b0b0;
    color: #000000;
  }

  .secao2{
    background-color: #bababa;
    color: #000000;
  }

  .maps{
    width: 10%;
  }

  footer {
    background-color: #b3b0b0;
    padding: 10px;
    position: relative;
    bottom: 0;
  }

  h1, a, h2, p, li, ul {
    text-align: center;
  }

  h1, a, h2 {
    color: #000000;
  }

  .a-header-cor{
   color: #ffffff;
   text-decoration:none;
   display: inline-size;
  }

  p {
    line-height: 22px;
  }

  li{
    margin-top: -100;
    width: 100%;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre as imagens */
  }

  .container img {
    width: 30; /* Ajuste a largura conforme necessário */
  }

  .logo{
   width: 6%;
   height: 6%;
   margin-left: -80% ;
   margin-top: -2%;
  }

  .header-altura-a{
   margin-top: -5%;
  }

  img{
    width: 200px;
  }

  hr {
    background-color: #7d7d7d;
    height: 20px;
  }

iframe{
  width: 200;
  align-items: center;
  margin: auto;

}

a:hover{
  color:#d2ff8a;
  /* text-decoration: underline; */
}

a{
  color: #000;
  text-decoration: none;
  text-align: center;
}

.index-nome{
  color: #ffffff;
  
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




