body {
    background-color: #424242;
    color: white;
    font-weight: 200;
    text-shadow: 0 0 20px #fff;
    text-align: center;
    font-family: "Raleway";
    display: flex;
    flex-direction: column;
}

button {
    background-color: #fec200;
    border-radius: 15px;
    height: 7vh;
    width: 15vh;
    margin-left:  95vh;
    margin-top: 2vh;
}

#nome {
    background-color: #b1b1b1;
    border-radius: 15px;
    height: 10vh;
    width: 25vh;
    text-align: center;
    margin-left: 89vh;
}

h1 {
    text-align: center;
}