* {
    scroll-behavior: smooth;
    font-family: "Raleway";
}

body {
    margin: 0;
    padding: 0;
    background-color: #424242;
}

.hdr {
font-weight: 200;
margin: 5vh 10vh;
color: #b1b1b1;
font-size: 1.17rem;
}

.menu {
    display: none; /* Inicialmente escondido */
    background-color: #424242;
    border: 1px solid #424242;
    padding: 10px;
    position: absolute;
    margin-left: 20px;
    color: #fff;
    font-size: 4rem;
    margin: 0 20vh;
    text-shadow: 0 0 10px #b1b1b1;
}

.menu-item {
    padding: 8px 12px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #424242;
}

.toggle-btn {
    padding: 10px 15px;
    background-color: #424242;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 20vh;
    margin-top: 15vh;
    font-size: 5rem;
    text-shadow: 0 0 15px #fec200;
}

.arrow {
    margin-right: 8px;
    transform: rotate(270deg); 
    transition: transform 0.5s;
}

.arrow-down {
    transform: rotate(0deg); 
}