body {
    display: flex;
    flex-direction: column;
    background-color: rgb(205, 191, 174);
    align-items: center;
    justify-content: center;
    overflow-x:auto;
    overflow-y: auto;
}
div {
    margin: 1cm
}
.mini{
    display: flex;
    flex-direction: column;
    border-radius: 1cm;
    background-color: bisque;
    justify-items: center;
    align-items: center;
    width:fit-content
}
h1,h2,p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 5%;
}
iframe {
    border-radius: 1cm;
}
.grande {
    margin: right 3cm left 3cm;
    display:flex;
    flex-direction: row;
}