    body {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        font-family: "Montserrat", sans-serif;
        overflow-x: hidden;
    }
    html {    
        scroll-behavior: smooth;
    }
    .roboto-condensed-tit {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    }
    .topo {
        width: 100vw;
        height: 100vh;
        background-image: url(imgs/topo.jpg);
        z-index: 3;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.644);
    }
    .topo h1 {
        position: absolute;
        font-size: 6vw;
        margin-left: 150px;
        margin-top: 29vh;
        color: rgba(255, 255, 255, 0.767);
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.251);
        width: 800px;
    }
    .vt {
        position: absolute;
        width: 200px;
        height: 60px;
        margin-top: 63vh;
        margin-left: 150px;
        border: 2px solid rgba(199, 199, 199, 0.676);
        border-radius: 2px;
        backdrop-filter: blur(5px);
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
    }
    .vt h3 {
        text-align: center;
        user-select: none;
        color: rgba(255, 255, 255, 0.767);
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.251);
        position: absolute;
        width: 200px;
        z-index: 10;
        transition: all 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    }
    .vt::before {
        content: "";
        width: 100vw;
        height: 0px;
        position: absolute;
        top: 100%;
        transition: all 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.612);
    }
    .vt:hover::before {
        top: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.655);
    }
    .vt a {
        z-index: 15;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .trabalhos {
        width: 100vw;
        height: 100vh;
    }
    .trabalhos h1 {
        margin-top: 2vh;
        margin-left: 4vw;
        position: absolute;
        line-height: 100px;
        font-size: 3.5vw;
    }

    .cards {
        width: 86vw;
        height: 125vh;
        margin-top: 8% !important;
        position: absolute;
        padding: 3vh 3vw 3vh 3vw;
        margin: auto;
        margin-left: 3.5vw;
        border-radius: 40px;
        border: 2px solid rgba(255, 255, 255, 0.776);
        background: linear-gradient(30deg, rgb(14, 14, 107), black);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        width: 22%;
        min-width: 22%;
        height: 60vh;
        border: 2px solid rgba(255, 255, 255, 0.614);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.215);
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .card h3 {
        text-align: center;
        position: absolute;
        width: 20.55%;
        font-size: 35px;
        color: rgba(255, 255, 255, 0.95);
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.779);
        z-index: 10;
        margin-top: 10px;
    }
    .imagem {
        background-image: url(imgs/logo01.png);
        width: 110%;
        height: 110%;
        margin-left: -5%;
        filter: blur(1px);
        z-index: 1;
        background-size: cover;
        background-position: center;
    }
    .bottom {
    width: 20.55%;
    height: 100px;
    position: absolute;
    margin-top: calc(-145px);
    background-color: rgb(255, 255, 255);
    border-radius: 18px; 
    box-shadow: 0 10px 20px black;
    }
    .acc {
    width: 90%;
    height: 30px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 55px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    }
    .ac {
        overflow: hidden;
    }
    .acc h4 {
        position: absolute;
        margin-top: 0;
        line-height: 30px;
        text-align: center;
        width: 90%;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.753);
        transition: 0.3s ease-in-out;
        
    }
    .acc:hover h4 {
        color: rgba(255, 255, 255, 0.947);

    }
    .acc::before {
        content: "";
        width: 90%;
        height: 30px;
        background-color: rgba(255, 0, 0, 0);
        position: absolute;
        transition: 0.3s ease-in-out;
        border-radius: 5px;

    }
    .acc:hover::before {
        background-color: rgba(0, 0, 0, 0.87);

    }
    .bottom p {
        position: absolute;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
    }
    .i1 {
        background-image: url();
    }
    .i2 {
        background-image: url(imgs/LogoMatriz.png);
    }
    .i3 {
        background-image: url(imgs/LogoN.png);
    }
    .i4 {
        background-image: url(imgs/LogoGreen.png);
    }
    .i5 {
        background-image: url();
    }
    .i6 {
        background-image: url(imgs/LogoRed.png);
    }
    .i7 {
        background-image: url(imgs/LogoPurple.png);
    }
    .i8 {
        background-image: url(imgs/LogoWood.png);
    }