body {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

    background-color: #292b2f;

    .tabela {
        display: flex;
        flex-direction: column;
        margin: auto;
        overflow: scroll;
        padding: 20px;

        .periodo {
            display: flex;
            flex-direction: row;

            .reboco {
                width: 50px;
                height: 50px;
                margin-left: 7px;
                margin-top: 7px;
                flex-shrink: 0;
            }
            
            .elem {
                width: 40px;
                height: 46px;
                border: black 1px solid;
                border-radius: 10px;
                margin-left: 5px;
                margin-top: 5px;
                flex-shrink: 0;
                padding: 2px 5px 2px 5px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                transition: all .1s ease;

                p {
                    margin: 0;
                }

                .nome {
                    font-weight: 600;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 20px;
                }

                .numero,
                .massa {
                    font-size: 10px
                }
            }

            .elem:hover {
                transform: scale(1.3);
                box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
            }

            /* #He {
                margin-left: 907px;
            }

            #B,
            #Al {
                margin-left: 568px;
            }

            #Ce,
            #Th {
                margin-left: 118px;
            } */
        }

        #lant,
        #acti {
            margin-top: 5px;
        }
    }

    .info {
        position: relative;
        height: 100vh;
        width: 200px;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
        background-color: #202225;
        color: #eaeaeb;

        .elemCaixa {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;

            #elemNome, #camadas {
                text-align: center;
                width: 100px;
                margin: 5px;
            }
            #elemNome { 
                border-bottom: #eaeaeb 2px solid;
                font-size: 20px;
                font-weight: 600;
            }

            .elemBig {
                width: 80px;
                height: 92px;
                border: black 1px solid;
                border-radius: 20px;
                flex-shrink: 0;
                padding: 4px 10px 4px 10px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                color: black;

                p {
                    margin: 0;
                }

                .nome {
                    font-weight: 600;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 40px;
                }

                .numero,
                .massa {
                    font-size: 20px
                }
            }
        }

        #text {
            overflow: scroll;
            text-align: start;
            height: 100%;

            p {
                margin: 0.5rem;

                .bold {
                    font-weight: bold;
                }
            }
        }
    }
}

@media (orientation:portrait) {
    body {
        overflow: hidden;

        .tabela {
            overflow: scroll;
            height: calc(100vh - 200px);
            padding-top: 10px;

            @media (hover:none) {
                .elem:active {
                    transform: scale(1.1);
                }
            }
        }

        .info {
            width: 100vw;
            height: 180px;
            flex-direction: row;
            padding-top: 5px;
            padding-bottom: 5px;

            position: absolute;
            bottom: 0;

            z-index: 2;

            #text {
                height: 150px;
                width: 100%;
                padding: 10px;
            }
        }
    }
}