button{
    border: none;
    border-radius: 50px;
    background-color: rgb(51, 51, 255);
    color:white;
    font-family: 'Courier New', Courier, monospace;
}

p{
    display: flex;
    text-align: end;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(21, 21, 21);
    
}

.monitor{
    height: 30vh;
    width: 30vw;
    border-radius: 5px;
    background-color: rgb(21, 21, 21);
    display: flex;
    margin: 0 auto;
    z-index: 1;
    transition: ease-in-out 0.5s;
    overflow: hidden;
    /* justify-content: end;
    align-items: end; */
    
}

.borda{
    height: 40vh;
    width: 35vw;
    border-radius: 10px;
    background-color: black;
    margin: 0 auto;
    align-content: center;
    justify-content: end;
    
}

.ligaron{
    background-color: rgb(155, 155, 155);
    transition: ease-in-out 0.5s;
}

.btnLigar{
    background-color: blue;
    width: 1vw;
    height: 1vw;
    border-radius: 2vw;
    z-index: 10;
    display: flex;
    margin: auto auto;
}

.desc{
    font-size: 10px;
}