/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2ff3b;
    margin: 0;
}

/* Estilo para o contêiner principal */
.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Título */
h1 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Botão */
button {
    background-color: #d1c000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #faf061;
}

/* Exibição do nome */
#top {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
}
