body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}

header {
  width: 100%;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  background-color: rgb(255, 203, 58);
  animation: enretar linear both;
  animation-timeline: view(block);
  animation-range: exit 0% cover 90%;
  top: 4vh;
  scroll-snap-align: start;
}

@keyframes enretar {
  to {
    background-color: rgb(58, 151, 212);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

header img {
  width: 800px;
  position: absolute;
  left: 27%;
  top: 20%;
  filter: opacity(0.9);
  animation: imgst linear both;
  animation-timeline: view(block);
  animation-range: exit 0% cover 90%;
}

@keyframes imgst {
  to {
    opacity: 0;
  }
}

header section {
  width: 500px;
  position: absolute;
  left: 14%;
  top: 20%;
  transform: scale(1.4);
}

header section :nth-child(1) {
  font-size: 70px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
}

header section hr {
  width: 65%;
  margin-left: 0;
  margin-top: -80px;
  border-color: rgba(0, 0, 0, 0.605);
}

header section :nth-child(3) {
  font-size: 18px;
  font-weight: 400;
  margin-top: -10px;
  font-family: "Barlow Condensed", sans-serif;
}

nav {
  position: fixed;
  z-index: 10;
  padding: 0.5%;
  background-color: rgb(255, 203, 58);
  width: 100%;
  display: flex;
}

nav a {
  text-decoration: none;
}

nav a p {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 1px rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 100;
  margin: 20px;
  transition: 0.3s;
  line-height: 1px;
}

nav a p:hover {
  transform: scale(1.05);
}

nav a p::before {
  content: "";
  height: 3px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 11px;
  transition: 0.3s;
  width: 0;
  margin-left: 50%;
}

nav a p:hover::before {
  content: "";
  width: 100%;
  box-shadow: 0 0 1px rgb(255, 255, 255);
  margin-left: 0%;
}
.oque {
  width: 100%;
  height: 100vh;
  background-color: rgb(58, 151, 212);
  padding-top: 5vh;
  margin-top: -5vh;
  scroll-snap-align: start;
  align-content: center;
  animation: enretar1 linear both;
  animation-timeline: view(block);
  animation-range: exit 0% cover 90%;
}
@keyframes enretar1 {
  to {    
  background-color: pink;
  }
}

.oque img {
  position: absolute;
  width: 45%;
  clip-path: ellipse(50% 50% at 60%);
  margin-top: -12vh;
  margin-left: 63vw;
}

.oque div {
  width: 50vw;
  height: 30vh;
  margin-left: 6vw;
  align-content: center;
}

.oque div h2 {
  font-size: 40px;
}

.oque div p {
  font-size: 23px;
  margin-top: -25px;
}

.importancia {
  height: 100vh;
  width: 100%;
  background-color: pink;
  scroll-snap-align: start;
  align-content: center;
  animation: enretar2 linear both;
  animation-timeline: view(block);
  animation-range: exit 0% cover 90%;
}
@keyframes enretar2 {
  to {    
    background-color: rgb(165, 247, 118);
  }
}

.importancia img {
  position: absolute;
  width: 45%;
  transform: rotateY(180deg);
  clip-path: ellipse(50% 50% at 60%);
  margin-top: -12vh;
  margin-left: -8vw;
}

.importancia div {
  width: 50vw;
  height: 30vh;
  margin-left: 44vw;
  text-align: right;
  align-content: center;
}

.importancia div h2 {
  font-size: 40px;
}

.importancia div p {
  font-size: 23px;
  margin-top: -25px;
}

.tipos {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  align-content: center;
  background-color: rgb(165, 247, 118);
}

.tipos h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: -20px;
}

.tipos div {
  background-color: rgba(0, 0, 0, 0);
  width: 80%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 20px;
  transform: scale(0.95);
}

.tipos div div {
  overflow: hidden;
  width: 26%;
  padding: 2%;
  height: 25vh;
  background-color: rgb(228, 214, 90);
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.4s;
  border: 3px none black !important;
}

.card h3 {
  text-align: center;
  margin: auto;
  margin-bottom: -10px;

}

.tipos div div p {
  text-align: center;

}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgb(70, 70, 70);
  z-index: -1;
  border-radius: 30px;
}

.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-condensed-extralight {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-medium {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-condensed-extrabold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-condensed-black {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-condensed-thin-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-condensed-extralight-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-condensed-light-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-condensed-regular-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-condensed-medium-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-condensed-semibold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-condensed-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-condensed-extrabold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-condensed-black-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}