body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.foto{
    width: 23%;
    background-color: rgb(247, 29, 84);
    padding: 20px;
    max-width: 500px;
    margin-block: 20px;
    border-radius: 20px;
}
p{
    margin: 5px;
    font-size: 20px;
    font-family: Mongolian Baiti;
}