
    body{
        background-image: url("OIP.jpg");
    }

h1{
    color: rgb(236, 69, 172);
    text-align: center;
}

h2{
    color: black;
    text-align: left;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}