body{
    background-color: rgb(93, 82, 219);
}
input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
header {
  color:rgb(50, 108, 132, 0.9);
  background-color: rgb(0, 0, 0);
  text-align: center;
  height: 30px;
  text-align: auto;
  font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
}

img {
    padding-top: 20px;
    padding-bottom: 20px;
    clip-path: circle(40%);
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
hr {
  background-color: black;
  border-color: black;
  height: 2px;
}
a {
    margin: 0;
}
button {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
   }
button:hover{
   background-color: deepskyblue;
   cursor: pointer;
   }
   footer {
    text-align: center;
    color:rgb(50, 108, 132, 0.9);
    background-color: rgb(0, 0, 0);
    padding: 20px;
    width: 99%;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    }
  .carta {
    background-color: aqua;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 140px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border-color: aqua;
    position:relative;
   }