/* style.css */

/* Define a cor de fundo para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho principal */
h1,h2 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
}

/* Estilo para os cabeçalhos secundários */
 h3, h4, h5,h6,h7,h8,h9,h10{
    background-color: #555;
    color: white;
    padding: 10px;
    margin: 0;
}

/* Estilo para os links */
a {
    display: block;
    background-color: #eee;
    color: #333;
    padding: 10px;
    text-decoration: none;
    margin: 10px 0;
    border-radius: 5px;
}

/* Estilo para os links ao passar o mouse */
a:hover {
    background-color: #ddd;
}

/* Container para centralizar o conteúdo */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
