body {
    background-color: #424242;
    color: white;
    font-weight: 200;
    text-shadow: 0 0 20px #fff;
    text-align: center;
    margin: 20vh 10vh;
    font-family: "Raleway";
    font-size: 4rem;
}

