body {
    background-color: rgb(11, 19, 28);
}
.con  {
    background-color: rgb(255, 217, 4);
    width: 25%;
    height: 5%;
    margin-left: 70px;
    text-align: center;
    padding: 10px;
    border-radius: 30px ;  
    width: 300px;
    text-align: center;
    margin-left: 37%;
  }
  a {
    color: rgb(0, 0, 0);
  }
  h1 {
    color: white;
    font-size: 600%;
    text-align: center;
  }
 