body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.tangram {
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    margin-top: calc(50vh - 175px);
    overflow: hidden;
}
.t {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid red;
    border-left: 50px solid transparent;
    position: absolute;
    filter: drop-shadow(0 0 100px black);
}
.cabeca {
width: 200px;
height: 200px;
position: absolute;
margin-left: 49px;
margin-top: 25px;
}
.t1 {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid rgb(64, 112, 166);
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    position: absolute;
    margin-left: -50px;
    margin-top: 50px;
}
.t2 {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid rgb(64, 112, 166);
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
}
.t3 {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid rgb(209, 45, 206);
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    position: absolute;
}
.t4 {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid rgb(243, 175, 50);
    position: absolute;
}
.corpo {
    margin-left: 100px;
    width: 300px;
    height: 300px;
    position: absolute;
    margin-top: 75px;
}
.t5 {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-right: 100px solid rgb(197, 10, 10);
    border-bottom: 100px solid transparent;
    border-left: 100px solid transparent;
    position: absolute;
    transform: rotate(25deg);
    margin-left: -100px;

}
.t6 {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid rgb(0, 217, 255);
    position: absolute;
    transform: rotate(-20deg);
    margin-left: 165px;
    margin-top: 11px;
}
.t7 {
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid rgb(254, 237, 50);
    border-left: 70px solid transparent;
    position: absolute;
    transform: rotate(-110deg);
    margin-top: 72px;
    margin-left: 23px;

}
.rabo {
    width: 200px;
    height: 200px;
    position: absolute;
    transform: rotate(24deg);
    margin-left: 332px;
    margin-top: 60px;

}
.t8 {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid rgb(172, 237, 66);
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    position: absolute;
    margin-top: 50px;
    margin-left: -50px;

}
.t9 {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid rgb(172, 237, 66);
    position: absolute;

}