@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  min-height: 100vh;
}

.logo {
  position: absolute;
  top: 30px; /* Ajuste conforme necessário */
  left: 50px; /* Ajuste conforme necessário */
  z-index: 10; /* Garante que a logo fique acima dos outros elementos */
}

.logo img {
  width: 40px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}


img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

ul i {
  color: #28a745;
  font-size: clamp(0.7rem, 0.5rem + 0.2vw, 1rem);
}

section {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding-block: min(10vh, 3rem);
  text-align: center;
  width: calc(min(80rem, 90%));
  margin-inline: auto;
}

section span,
section p,
section h2,
section h3 {
  letter-spacing: 0.02rem;
}

section p {
  line-height: 1.4;
  color: #333;
  max-width: 40rem;
  margin: 0 auto;
  font-size: 15px;
}

.bg-watermark {
  color: #28a745;
  font-size: clamp(4rem, 1rem + 10vw, 15rem);
  font-weight: 800;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) translateY(-15%);
  user-select: none;
  letter-spacing: 0.3rem;
}

section span {
  text-transform: uppercase;
  display: block;
  font-size: 1rem;
  color: #333;
}

section h2 {
  font-size: 40px;
  margin-top: -0.5rem;
  color: #28a745;
}

.cards {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
  gap: 1.5rem;
}

.card h3 {
  font-size: 15px;
  font-weight: 400;
  color: #333;
}

.card p {
  font-size: 12px;
  letter-spacing: 0.1rem;
  font-weight: 300;
  max-width: 100%;
}

.card::before {
  position: absolute;
  content: "";
  width: 4rem;
  height: 5rem;
  z-index: 0;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to left, #80e0a3, #28a745);
  top: -0.3rem;
  left: -0.3rem;
}

.card::after {
  position: absolute;
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, hsl(210deg 2.99% 80% / 20%), hsl(0deg 0% 90% / 90%));
}

.card img {
  filter: grayscale(100%);
  transition: 0.5s ease;
  height: 300px;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  z-index: 99;
  left: 0;
  color: #fff;
  width: 100%;
  padding: 1rem 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.card {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
}

.card.animate {
  opacity: 1;
  transform: translateY(0);
}

.card.hidden {
  opacity: 0;
  transform: translateY(15%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.card:nth-child(1) {
  transform: translateY(-15%);
}

.card:nth-child(2) {
  transform: translateY(-5%);
}

.card:nth-child(3) {
  transform: translateY(-15%);
}

.card:nth-child(4) {
  transform: translateY(-5%);
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.zoomIn {
  animation: zoomIn 1s forwards;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  width: calc(min(80rem, 90%));
  margin: 0 auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.card2 {
  min-width: 300px;
  margin-right: 1rem;
  flex: 0 0 auto;
  text-align: center;
}

.card2 img {
  filter: grayscale(100%);
  transition: 0.5s ease;
  height: 150px;
  object-fit: cover;
}

.hs {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem 0;
}

.hs__item {
  flex: 0 0 300px;
  margin-right: 1rem;
  scroll-snap-align: start;
}

.hs__item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hs__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.arrow.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hs__item__description {
  margin-top: 0.5rem;
}

.rodape {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}
