@media (min-width: 768px) {
    body {
        background-color:white;
        margin: 0;
}

h3 {
        font-style: oblique;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:black;
        background-color:khaki;
        margin: 0;
}
    
h1 {
        font-style: oblique;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:black;
        background-color:rgb(220, 172, 60);
}
    
header {
        background-color:white;
        text-align: center;
}

a{
    color: orange;
}

}
@media (min-width: 768px) {
    body {
        background-color:white;
        margin: 0;
}

h3 {
        font-style: oblique;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:black;
        background-color:khaki;
        margin: 0;
}
    
h1 {
        font-style: oblique;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:black;
        background-color:rgb(220, 172, 60);
}
    
header {
        background-color:white;
        text-align: center;
}

a{
    color: orange;
}
}