
input:where(.astro-S3GEF3U7) {
  width: 100%;
  background:white;
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
  padding: 12px 24px;
  border: none;
  outline: none;
}