body { 
 background-color: rgb(104, 134, 255);
}

h2,h3 {
   font-style:italic;
   color:rgb(0, 0, 0);
   background-color: rgb(205, 205, 205);
   width: 500px; 
   margin: auto;
   border-radius: 500px;
   padding: 10px;
}
section{
   text-align: center;
}
iframe {
   border-radius: 20px; 
}
.cen {
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   border: solid 3px black;
   border-radius: 20px;
   height: 50px;

}
img{
   border: 15px;
   border-radius: 1cm;
}
.txt{
width: 900px;
margin-left: auto;
margin-right: auto;
}
header{
background-color: rgb(37, 37, 37);
}
*{
margin: 0;
padding: 0;
}
.nav-list{
list-style: none;
display: flex;
}
.nav-list, li{
letter-spacing: 3px;
margin-left: 15px;
margin-right: 15px;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
height: 8vh;
color: white;
}
footer{
background-color: rgb(37, 37, 37);
color: white;
text-align: center;
padding: 10px;
position: fixed;
bottom: 0;
width: 100%;
letter-spacing: 2px;
font-family: 'Courier New', Courier, monospace;
font-size: 9px;
}
a{
    color: rgb(4, 23, 52);
}
a:hover{
    color: black;
}