body {
    background-image: url("planoazul.jpg");
}
h1,h2,p,a{
    color:white
}
h1,h2{
    font-family:"Lucida Handwriting";
}
p,a{
    font-family:"Sitka Display";
}

h1,h2{
    text-align: center;
}
hr{
    color:blueviolet;
}