* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(102, 192, 110);
    background-size: 100% 100%;
}

p {
    color: rgb(0, 0, 0);
    margin-left: 2%;
    margin-right: 2%;
}

h2 {
    color: rgb(0, 0, 0);
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(85, 164, 83);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    text-shadow: 0 0 20px rgb(68, 175, 67);
}

.card {
    background-color: rgb(85, 164, 83);
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 2%;
    box-shadow: 0 0 20px;
    transition: transform 0.3s ease-in-out;
    width: 950px;
    padding: 15px;
}

.card:hover {
    transform: scale(1.05);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(68, 175, 67);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(55, 150, 55);
}

footer {
    background-color: rgb(85, 164, 83);
    height: 50px;
    text-align: center;
    font-size: 1vw;
    margin-top: 20px;
    padding-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}