body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    padding: 1rem 0;
    text-align: center;
    background-color:#0d47a1 ;
    color: white;
}

main {
    padding: 1rem;
}

section {
    background: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: yellow;
}

p {
    margin: 0.5rem 0;
}

iframe {
    margin: 1rem auto;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5em 0;
    }
}

