body {
    font-family: Arial, sans-serif;
    background-color: #eb6da4;
    padding: 20px;
    margin: 0;
  }
  
  .container {
    max-width: 420px;
    margin: auto;
  }
  
  .formulario {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
  }
  
  .formulario h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="date"],
  select,
  textarea,
  input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* textarea {
    resize: vertical;
  } */
  
  .checkbox {
    margin-top: 15px;
  }
  
  button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #aa144b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #aa144b;
  }
  