body {
    background-image: url(background.jpg);
    padding: 20px;
  }
  h1 {
    font-family: sans-serif;
    color: rgb(44, 132, 148);
    text-align: center;
    font-size: x-large;
  }
  .autor {
    font-family: sans-serif;
    text-align: center;
    color: whitesmoke;
  }
  hr {
    height: 2px;
    background-color: gray;
    border-color: gray;
  }
  h3 {
    font-family: sans-serif Arial, Helvetica, sans-serif;
    color: rgb(44, 132, 148);
    text-align: left;
    font-size: x-large;
  }
  h2 {
    font-family: sans-serif Arial, Helvetica, sans-serif;
    color: rgb(44, 132, 148);
    text-align: left;
    font-size: x-large;
  }
  h4 {
    font-family: sans-serif Arial, Helvetica, sans-serif;
    color: rgb(44, 132, 148);
    text-align: left;
    font-size: x-large;
  }
  h5 {
    font-family: sans-serif Arial, Helvetica, sans-serif;
    color: rgb(44, 132, 148);
    text-align: left;
    font-size: x-large;
  }
  h6 {
    font-family: sans-serif Arial, Helvetica, sans-serif;
    color: rgb(44, 132, 148);
    text-align: left;
    font-size: x-large;
  }
  a {
    font-family: sans-serif;
    color: whitesmoke;
    margin: auto;
  }
  .back {
      width: 80%;
      background-color: #0A1622;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
    }
  p {
    font-family: sans-serif;
    color: whitesmoke;
    margin: auto;
  }
  .hostinger {
    font-size: large;
    color:whitesmoke;
    font-family: sans-serif;
  }
  .freecodecamp {
    font-size:large;
    color:whitesmoke;
    font-family: sans-serif;
  }
  .video {
    font-size:large;
    color:whitesmoke;
    font-family: sans-serif;
  }
  .podcast {
    font-size:large;
    color:whitesmoke;
    font-family: sans-serif;
  }
  button {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
   }
   button:hover{
    background-color: deepskyblue;
    cursor: pointer;
   }