header {
    background-image: url("imagemdefundodesite.jpg");
    background-size: 1280px;
    text-align: center;
    color: white;
    font-family: impact, serif;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-size: 35px;
}

body {
    background-image: url("fundodesitebranco.jpg");
    background-size: 1280px;
}

h1 {
    position: relative;
    top: 50px;
    text-align: center;
}

a {
    text-align: center;
    position: relative;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.container {
    width: 30%;
    background-color: gray;
    position: relative;
    top: 90px;
    left: 440px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 blue; 
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
}

.container:hover {
    box-shadow: 0 0 40px 0 purple;
}

.ods {
    position: relative;
    bottom: 5px;
}

.indicacoeshtml {
    position: relative;
    bottom: 10px;
}

.olamundo {
    position: relative;
    bottom: 10px;
}

.indicacoescss {
    position: relative;
    bottom: 25px;
}

.indicacoeshtml {
    position: relative;
    bottom: 35px;
}

.ods {
    position: relative;
    bottom: 25px;
}

.curriculo {
    position: relative;
    bottom: 10px;
}

.oficina {
    position: relative;
}