head, body {
    background-image: url(../fotos/vermelho2.png);
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

h1 {
    color: rgb(75, 15, 15);
    text-align: center;
    font-style:italic;
    font-size: 50px;
}

p {
    color: rgb(236, 235, 196);
    width: 25%;
    background-color: rgb(75, 15, 15);
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
    font-size: 25px; 
    text-align: center;   
}

img {
    width: 500px;
    border: 10px rgb(84, 29, 29);
    border-radius: 15px;
}

img, p {
    display: inline-block;
    margin-inline-start: 10%;
}

header, footer {
    text-align: center;
    background-color: rgb(84, 29, 29);
    color: rgb(236, 235, 196);
    font-size: 25px;
}


