body {
    background-color: rgb(66, 61, 61);

    .gui {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

        #quadBig {
            width: 100px;
            height: 100px;
            box-sizing: border-box;
            border-top: 50px solid red;
            border-right: 50px solid blue;
            border-bottom: 50px solid yellow;
            border-left: 50px solid green;

            margin: 10px;
        }

        .circulo {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                width: 100px;
                margin: 10px;
            }

            .meio {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}