body {
    background-image: url(matemática1.jpg);
}
.roubo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}