body {
    background-image: url(matemática1.jpg);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titulo {
    font-size: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.jogar:link, .jogar:visited {
    background-color: #5f36f4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 10vh;
}
/* .jogar:hover, .jogar:active {
    background-color: red;
    font-size: 11vh;
    padding: 14px 25px;
    animation-name: tente;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse; 
    position: relative;
} */
.bruh:hover {
    width: 180px;
    height: auto;
    animation-name: tente;
    animation-duration: infinite;
    animation-iteration-count: 10;
    animation-direction: alternate-reverse; 
    animation-direction: alternate;
    position: relative;
    background-color: red;
}

@keyframes tente {
    0%   {background-color: white; left:900px;}
    25%  {background-color:red; left:900px;}
    50%  {background-color:orange; left:900px;}
    80%  {background-color:brown; left:-900px;}
    100% {background-color:white; left:-900px}
}