header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #333;
        color: white;
        padding: 10px 0;
        z-index: 1000;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding-top: 60px; /* Espaço para evitar que o conteúdo fique escondido atrás do cabeçalho fixo */
}

section {
    padding: 20px;
    margin: 20px 0;
}

h1 {
    margin-top: 0;
    text-align: center;
}

p {
    text-align: center;
}

strong {
    font-style: italic;
    text-decoration: underline;
}

.text1 {
    font-size: 20px;
}