/* style.css */

/* Estilos gerais do corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Estilos para o header */
header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #000000;
    border-bottom: 2px solid #333; /* Linha abaixo do h1 */
    padding-bottom: 10px;
}

/* Estilos para a navegação */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para o main */
main {
    padding: 20px;
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

main iframe {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Estilos para o footer */
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Seções */
section {
    margin: 20px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #000000;
}

section h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #000000;
    line-height: 1.4;
}
img {
    filter: grayscale(100%); /* Aplica um filtro de escala de cinza */
    transition: filter 0.3s ease; /* Transição suave para o efeito */
}

img:hover {
    filter: grayscale(0%); /* Remove o filtro de escala de cinza ao passar o mouse */
}

