/* Resetando margens e paddings padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Corpo da página */
body {
    background-color: #f4f7f6;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

/* Seção Principal */
main {
    padding: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.intro h2 {
    font-size: 2rem;
    color: #0044cc;
}

.intro p {
    font-size: 1.2rem;
    color: #666;
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    margin: 0;
}

nav ul li {
    margin: 10px 15px;
}

nav a {
    text-decoration: none;
    color: #0044cc;
    font-size: 1.1rem;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s, transform 0.3s;
    border-radius: 5px;
    border: 2px solid transparent;
}

nav a:hover {
    color: #ffffff;
    background-color: #0044cc;
    transform: translateY(-5px);
    border: 2px solid #ffffff;
}

/* Ícones ao lado dos links */
nav a i {
    margin-right: 8px;
    font-size: 1.5rem;
}

/* Rodapé */
footer {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 10px 0;
    }
    
    nav a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    nav a {
        font-size: 0.9rem;
    }

    nav ul {
        flex-direction: column;
    }
}
