/* body{
    margin: 0;
    padding: 0;
    background-image: url(fundo.jpg);
    overflow-x: hidden;
} */


/* Reset básico */
/* Reset básico */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    color: #ffffff;
    background-color: #79dae0;
    overflow-x: hidden;
}

/* Cabeçalho */
header {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0;  /* Remove padding extra do topo */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 60px;
}

.Urbanisme {
    position: relative;
    bottom: 35px;
}

ul {
    position: relative;
    bottom: 35px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;  /* Um leve padding para dentro da nav */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    margin-right: 10px;
    position: relative;
    bottom: 60px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    color: rgb(0, 0, 0);
    font-family: "Playpen Sans", cursive;
    font-style: normal;
}

nav ul li a:hover {
    border-bottom: 2px solid #ffffff;
}

/* Seção principal */
.titulo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px; /* Compensação para o cabeçalho fixo */
}

.titulo-content h1 {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* fonte */
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.titulo-content h2 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* fonte */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 50px;
}

/* Localização */
.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #497cfe;
    padding: 50px 20px;
    
}

.sobre .container {
    max-width: 600px;
}

.sobre h2 {
    margin-bottom: 20px;
    color: #ffffff;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* fonte */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60px;
    position: relative;
    left: 50px;
}

.sobre p {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Playpen Sans", cursive;
    font-style: normal;
    position: relative;
    left: 50px;
}

.sobre-image img {
    width: 500px;
    position: relative;
    right: 20px;
    border-radius: 20px;
}
.sobre-image img:hover {
    width: 530px;
    transition: ease-in-out 0.7s;border-radius: 20px;
}

/* Como funciona a ponte? */

.ponte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #88d5f7;
    padding: 50px 20px;
    
}

.ponte .como {
    max-width: 600px;
}

.ponte h2 {
    margin-bottom: 20px;
    color: #ffffff;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* fonte */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60px;
    position: relative;
    left: 670px;
}

.ponte p {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Playpen Sans", cursive;
    font-style: normal;
    text-align: end;
    position: relative;
    left: 600px;
}

.ponte-image img {
    width: 500px;
    position: relative;
    right: 660px;
    border-radius: 20px;
}
.ponte-image img:hover {
    width: 530px;
    transition: ease-in-out 0.7s;border-radius: 20px;
}



/* como foi o processo? */

.processo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26AFE0;
    padding: 50px 20px;
}

.processo .pro {
    max-width: 600px;
}

.processo h2 {
    margin-bottom: 20px;
    color: #ffffff;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* fonte */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60px;
    position: relative;
    left: 50px;
}

.processo p {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Playpen Sans", cursive;
    font-style: normal;
    position: relative;
    left: 50px;
}

.processo-image img {
    width: 400px;
    position: relative;
    right: 50px;
    border-radius: 20px;
}
.processo-image img:hover {
    width: 430px;
    transition: ease-in-out 0.7s;border-radius: 20px;
}

/* entregas */

.entregas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6ec2f6;
    padding: 50px 20px;
}

.entregas .entre {
    max-width: 600px;
}

.entregas h2 {
    margin-bottom: 20px;
    color: #ffffff;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* fonte */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60px;
    position: relative;
    left: 550px;
    text-align: end;
}

.entregas p {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Playpen Sans", cursive;
    font-style: normal;
    text-align: end;
    position: relative;
    left: 550px;
}

.entregas-image img {
    width: 400px;
    position: relative;
    right: 760px;
    border-radius: 20px;
}

.entregas-image img:hover {
    width: 400px;
    transition: ease-in-out 0.7s;border-radius: 20px;
}


/* sobre nós */

.sobrenos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px;
}

.sobrenos .nos {
    max-width: 600px;
}

.sobrenos h2 {
    margin-bottom: 20px;
    color: #ffffff;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* fonte */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60px;
    position: relative;
    left: 350px;
    text-align: center;
}

.sobrenos p {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Playpen Sans", cursive;
    font-style: normal;
    text-align: center;
    position: relative;
    left: 350px;
}

.sobrenos-image img {
    width: 400px;
    position: relative;
    right: 800px;
    border-radius: 20px;
}

.sobrenos-image img:hover {
    width: 400px;
    transition: ease-in-out 0.7s;border-radius: 20px;
}

#primeiralinha {
    position: relative;
    
    overflow: hidden;
    height: 3px;
    background-color: white;
}

#segundalinha {
    position: relative;
    
    overflow: hidden;
    height: 3px;
    background-color: white;
}





footer {
    background-color: #5bbaf5b5;
    color: white;
    text-align: center;
    padding: 20px 0;
    height: 70px;
}

footer p {
    position: relative;
    bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}
