img {
    width: 200px;
}

head, body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

h1, h2, p {
    font-style: italic;
    text-align: center;
}

body { 
    background-image: url("https://i.pinimg.com/564x/06/7f/99/067f99620b1d0c0c730a3f19ce79df55.jpg");
}

h1 {
    margin-top: 30px;
    color: rgb(51, 36, 138);
}

h2 {
    color: rgb(50, 107, 157);
    font-size: 30px;
    background-color: rgba(200, 212, 222, 0.555);
    margin-top: 0;
}

p {
    color: rgb(30, 112, 185);
}

.image {
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(72, 58, 153);
    color: rgb(200, 212, 222);
    padding: 30px ;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

nav {
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: rgb(72, 58, 153);
    text-decoration: none;
    padding: 0 10px;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}