.dsiplayloja {
    width: auto;
    height: auto;
    padding: 5%;
    background-color: rgb(20, 20, 20);
    border-radius: 30px;
    border: 3px solid rgba(0, 0, 0, 0.542);
    margin: auto;
    position: relative;
    display: flex;
}
.dsiplayloja input {
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.523);
    color: white;
    font-weight: 650;
    text-align: center;
}
.dsiplayloja button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.523);
    color: white;
    font-weight: 650;
    text-align: center;
}
.dsiplayloja div {
    padding: 0 20px 0 20px;
    width: 100%;
    height: 20%;
    border: 2px solid rgba(255, 166, 0, 0.733);
    border-radius: 10px;
    justify-content: center;
    margin-left: 20px !important;
    margin: auto;
}
.dsiplayloja div p {
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: white;
    font-weight: 700;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}