body {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: rgb(111, 165, 129);
}

header {
    background-color: rgb(85, 137, 102);
    width: 100%;
    padding: 1px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-style: solid;
}

a:hover, a:active, a:visited, a:link {
    color: black;
}

.contorno {
    background-color: rgb(85, 137, 102);
    border-radius: 15px;
    margin-top: 15px;
    width: 35%;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: black;
}

li {
    margin-top: 15px;
    width: 93%;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}