body {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: rgb(85, 137, 102);
    width: 100%;
    padding: 1px;
    text-align: center;
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    border-bottom-style: solid;
}

nav ul li {
    align-content: center;
    display: inline-block;
    margin-left: 15px;
}

a:hover, a:active, a:visited, a:link {
    color: black;
}

.texto {
    width: 92%;
    margin-left: 15px;
    text-align: justify;
}

.contorno {
    background-color: rgb(85, 137, 102);
    border-radius: 30px;
    margin-top: 15px;
    width: 95%;
    text-align: justify;
    /* display: inline-block; */
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color:black; 
}

p {
    margin-top: -18px;
}

.ladoalado {
    display:flex;
    justify-content: space-around;
 }

.fotos {
    max-height: 180px;
    max-width: 180px;
    margin-top: 15px;
    border-radius: 15px;
    border-style: solid;
}