*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

header {
    color: white;
    background-color: rgb(15, 82, 1);
    height: 108vh;
}

header .sec h1 {
    text-align: center;
    font-size: 6rem;
    padding-top: 25vh;
    text-transform: uppercase;
}

header .sec p {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 5vh;
}

.fake-header {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 0.75rem 2.35rem;
    background-color: white;
    position: fixed;
    z-index: +1;
    height: 8vh;
}

.nav-items {
    display: flex;
}

.nav-item {
    margin: 0 2.5rem;
}

.nav-link {
    font-size: 1.2rem;
    position: relative;
    color: black;
}

.nav-link::before {
    content: "";
    background-color: black;
    width: 100%;
    height: 0.05rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 150ms;
}

.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.infor {
    height: 108vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.int {
    margin-left: 1vw;
}

.int h1 {
    font-size: 3.2rem;
    letter-spacing: 0.15rem;
}

.int p {
    padding-top: 2vh;
    width: 45vw;
    font-size: 1.15rem;
    text-align: justify;
    letter-spacing: 0.09rem;
}

.esq {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: -95px;
    right: 0;
    max-height: 210px;
    border-radius: 8px;
}

.image2 {
    position: absolute;
    top: 120px;
    right: 0;
    max-height: 210px;
    border-radius: 8px;
}

.infor2 {
    background-color: rgb(15, 82, 1);
    color: white;
    height: 108vh;
    align-content: center;
}

.prob h1 {
    font-size: 4rem;
    letter-spacing: 0.15rem;
}

.prob p {
    padding-top: 2vh;
    font-size: 2em;
    letter-spacing: 0.1rem;
    width: 50vw;
    text-align: left;
}

.prob {
    margin-left: 13vw;
}

.obj {
    margin-left: 6vw;
}

.obj h1 {
    font-size: 3.5rem;
    letter-spacing: 0.15rem;
}

.obj p {
    padding-top: 2vh;
    width: 34vw;
    font-size: 2rem;
    text-align: left;
    letter-spacing: 0.09rem;
}

.image3 {
    max-width: 400px;
    margin-top: 10vh;
}

.hipo {
    margin-left: 13vw;
}

.hipo h1 {
    font-size: 3.5rem;
    letter-spacing: 0.15rem;
}

.hipo p {
    padding-top: 2vh;
    width: 75vw;
    font-size: 1.8rem;
    text-align: justify;
    letter-spacing: 0.09rem;
}

.res {
    margin-left: 10vw;
}

.res h1 {
    font-size: 3.5rem;
    letter-spacing: 0.15rem;
}

.res p {
    padding-top: 2vh;
    width: 48vw;
    font-size: 1.45rem;
    text-align: left;
    letter-spacing: 0.06rem;
}

.esq2 {
    position: relative;
    top: 0;
    left: 0;
}

.image4 {
    margin-right: 6vw;
}

.infor3 {
    background-color: rgb(15, 82, 1);
    color: white;
    height: 238vh;
    align-content: center;
}

.referencias {
    margin-left: 13vw;
    width: 70vw;
}

.referencias h1 {
    font-size: 3rem;
    letter-spacing: 0.15rem;
}

.referencias p {
    padding-top: 4vh;
    font-size: 1.15rem;
    text-align: justify;
    letter-spacing: 0.09rem;
}