body {
    font-family: Arial, sans-serif;
}
h1 {
    color: #333;
}
h1 {
    color:black;
}
p {
    text-align: justify;
    color: gold;
}

iframe {
    height: 300px;
    width: 560px;
}

