body{
  font-family: Arial, sans-serif;
  margin: 0%;
  padding: 0%;
  background-color: #f0f0f0;
}


header{
  background-color: grey;
  color: white;
  text-align: center;
}

main{
padding: 20px;
}

h1,h2{
font-family: Arial, sans-serif;
color: blue;
}

p{
 font-family: Georgia, serif;
 color: black;
}