body {
    font-family: 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap';
    background: linear-gradient(100deg, rgb(206, 0, 0), rgb(99, 0, 0));
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: black;
    border-radius: 0 0 10px 10px;
}

footer {
    text-align: center;
    padding: 10px;
    width: 98.65%;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;
}

.principal {
    font-size: 20px;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    color: white;
}

div {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
}

.aaa {
    position: absolute;
    left: 3%;
    top: 12.5%;
    border: 4px solid #b34104;
    border-radius: 4px;
    padding: 0px;
    width: 400px;
}

.filho {
    position: absolute;
    right: 3%;
    top: 13.5%;
    border: 4px solid #b34104;
    border-radius: 4px;
    padding: 0px;
    width: 400px;
}

.texto1 {
    background-color: rgba(155, 18, 18, 0.9);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    border-radius: 20px;
    padding: 4%;
}

.secundario {
    font-size: 20px;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    color: white;
    position: absolute;
    top: 76.5%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 80px;
}

.senac {
    position: absolute;
    left: 30%;
    top: 61.5%;
    border: 4px solid #b34104;
    border-radius: 4px;
    padding: 0px;
    width: 150px;
    box-shadow: 0 0 20px rgb(255, 0, 0);
}
.texto2 {
    background-color: rgba(155, 18, 18, 0.9);
    width: 15%;
    margin-left: 51.5%;
    margin-right: 10%;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    border-radius: 20px;
    padding: 6%;
    margin-top: 29.6%;
}
