body {
    font-family: 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap';
    background: linear-gradient(45deg, rgb(255, 0, 166), rgb(255, 0, 0));
    margin: 0;
    padding: 0;
}
header {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: black;
    border-radius: 0 0 10px 10px;
}
footer {
    text-align: center;
    padding: 10px;
    width: 98.65%;
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;
}
p {
    font-size: 20px;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
}
.aaa {
    position: absolute;
    left: 3%;
    top: 26.5%;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
}
.filho {
    position: absolute;
    right: 3%;
    top: 28.5%;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
}