h1{
    border: 2px solid rgb(241, 68, 184);
    text-align: center;
    background-color: rgb(221, 69, 140);
    width: 60%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
h3,h2{
    text-align: center
    
}
div{
    height: 110px;
    left: 180px;
    background-color: rgb(255, 83, 169);
    width: 400px;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    
}
p{
    text-align: center;
}
a{
    color: black;
}
a:visited{
    color: black;
}
body{
    background-color: rgb(156, 10, 61);
}
header{
    background-color: rgb(226, 43, 171);
    color: white;
    font-family: Agency FB;
}