body {
    margin: 0;
    padding: 0;
    text-shadow: 0.1em 0.1em 0.2em rgb(169, 162, 162);
    box-sizing: border-box;
}


h2 {
    font-size: 30px;
    /* margin-left: 530px; */
    letter-spacing: 0.06rem;
}

p {
    letter-spacing: 0.05rem;
    text-align: justify;
}

h1 {
    display: flex;
    align-tracks: top;
    justify-content: space-around;
    letter-spacing: 0.04rem;
    text-align: center;
}

.intro {
    margin: 0;
    padding-top: 10vh;
}


header {
    /* position: fixed; */
    background-color: #fff;
    text-align: center;
    display: flex;
    width: 100vw;
}

.tudo {
    width: 36vw;
    text-align: center;
    margin: 0 auto;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    /* background-color: rgb(255, 255, 255); */
    color: #000;
    height: 100vh;
    background-image:url(img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

header .sec h1 {
    text-align: center;
    font-size: 6rem;
    padding-top: 8vh;
    text-transform: uppercase;
    margin-left: 0;
}

.fake-header {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 0.75rem 2.35rem;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: +1;
    width: 100%;
}

.nav-items {
    display: flex;
}

.nav-item {
    margin: 0 2.5rem;
}

.nav-link {
    font-size: 1.2rem;
    position: relative;
    color: #000;
}

.nav-link::before {
    content: "";
    background-color: #000;
    width: 100%;
    height: 0.05rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 150ms;
}

.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}