@media(min-width: 768px){
    body{
        background-color:white
    }
}
@media(min-width: 768px){
    body{
        background-color:palegreen
    }
}
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}
  
main {
    max-width: 800px;
    margin: 0 auto;
}
  
section {
    margin-bottom: 30px;
}
  
h1 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    color: palevioletred;
}
  
h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
  
p {
    margin-bottom: 5px;
}