body {
    background: linear-gradient(130deg, darkred, black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

div {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-size: 70px;
}

a {
    color: white;
    font-size: 50px;
}

:root {
    --color-interactive: 255, 255, 255;
    --circle-size: 10%;
    --blending: hard-light; /* Removido espaço em branco */
}

.interactive {
    position: fixed; /* Fixa a posição em toda a tela */
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100vw; /* 100% da largura da viewport */
    height: 100vh; /* Use 100% da altura da viewport */
    top: 0; /* Alinhe ao topo da viewport */
    left: 0; /* Alinhe à esquerda da viewport */
    opacity: 0.7;
    pointer-events: none; /* Não bloqueia a interação com outros elementos */
}
