body {
    background: linear-gradient(130deg, darkred, black);
    height: 100vh;
    /* Garante que o body ocupe toda a altura da janela */
    display: flex;
    /* Usando flexbox para centralizar */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    margin: 0;
    /* Remove margens padrão do body */
}

div {
    color: white;
    font-family: sans-serif;
    text-align: center;

}
h1{
    font-size: 70px;
}
a{
    color: white;
    font-size: 50px;
}