.displayvar {
    width: 40%;
    height: auto;
    padding: 5%;
    background-color: rgb(20, 20, 20);
    border-radius: 30px;
    border: 3px solid rgba(0, 0, 0, 0.542);
    margin: auto;
    position: relative;
}
.displayvar input {
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.523);
    color: white;
    font-weight: 650;
    text-align: center;
}
.displayvar button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.523);
    color: white;
    font-weight: 650;
    text-align: center;
}