body{
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    padding: 1%;
text-align: center;
color: white;
}
h1 {
    text-align: center;
}
.carta {
    width: 720px;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0 20px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}
hr {
    width: 90%;
}
.al {
    margin-top: 20px;
}
h2 {
    text-align: center;
}
.bt1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    border-radius: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
}
.bt1:hover > :not(:hover) {
    transform: scale(0.95);
    opacity: 0.4;
}
.se {
    transition: 0.4s;
    text-align: center;
}
.alint {
    font-size: 130%;
}
.esp {
    height: 12px;
}
.slider {
    overflow: hidden;
}
.slides {
    width: 400px;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    position: relative;  
    transition: 2s;
}
.slide img {
    width: 400px;
    height: 400px;
}
.manual-navegation {
    position: absolute;
    width: 400px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;  
}
.manual-btn:not(:last-child) {
    margin-right: 20px;
}
.manual-btn:hover {
    background-color: #fff;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -100%;
}
#radio3:checked ~ .first {
    margin-left: -200%;
}
#radio4:checked ~ .first {
    margin-left: -300%;
}
#radio5:checked ~ .first {
    margin-left: -400%;
}
#radio6:checked ~ .first {
    margin-left: -500%;
}
#radio7:checked ~ .first {
    margin-left: -600%;
}
.navegation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navegation-auto {
    position: absolute;
    width: 400px;
    margin-top: 370px;
    display: flex;
    justify-content: center;
}
.navegation-auto div:not(:last-child) {
    margin-right: 20px;
}
#radio1:checked ~ .navegation-auto .auto-btn1   {
    background-color: #fff;
}
#radio2:checked ~ .navegation-auto .auto-btn2   {
    background-color: #fff;
}
#radio3:checked ~ .navegation-auto .auto-btn3   {
    background-color: #fff;
}
#radio4:checked ~ .navegation-auto .auto-btn4   {
    background-color: #fff;
}
#radio5:checked ~ .navegation-auto .auto-btn5   {
    background-color: #fff;
}
#radio6:checked ~ .navegation-auto .auto-btn6   {
    background-color: #fff;
}
#radio7:checked ~ .navegation-auto .auto-btn7   {
    background-color: #fff;
}
.text1 {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 20px;
    border-radius: 20px;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
}
.fle {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p {
    font-size: 16px;

}