body {
    background: linear-gradient(to bottom, #1B222E 20%, #2B2828 80%);

    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.foto img {
    width: 245px;
    border-radius: 5%;
    margin-left: 38px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #1B222E;
}

.info h1 {
    position: absolute;
    left: 300px;
    bottom: 380px;
    font-size: 55px;
}

.info h5 {
    position: absolute;
    left: 300px;
    top: 110px;
    font-size: 18px;
}

.info p {
    position: absolute;
    left: 300px;
    bottom: 380px;
    font-size: 13px;
}

a {
    color: #ffffff;
    text-decoration: none;
    
}

.projeto li{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    list-style: none;
    width: 90vw;
    text-align: start;
    
}

a:hover {
    color: rgb(13, 90, 13);
    transition: color 0.7s;
}

.cor{
    color: #ABACAC;
    font-size: 18px;
}

footer {
    text-align: center;
}

hr {
    text-align: center;
    width: 90vw;
    margin-right: 50%;
}

footer img {
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 10px;
}