body {
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}
.hed {
    background-image: url(imagens/FundoHeader.png);
    width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 1000px;
    box-shadow: 0 0 20px 0 rgb(145, 145, 145); */
}
.hedtx {
    text-align: center;
    font-size: 50px;
    margin-top: -55px;
}
.aj {
    font-size: 30px;
    margin-top: -80px;
    font-style: italic;
    color: rgb(46, 77, 253);
    text-shadow: 0 0 100px rgb(46, 77, 253);
}
.h123 {
    font-style: oblique;
    color: rgb(73, 106, 255);
    text-shadow: 0 0 100px rgb(73, 106, 255);
}
.mar {
    margin-bottom: -17px;
    margin-left: -50px;
}
.recomentexto {
    display: block;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}
.recomentexto h1 {
    font-size: 40px;
}
.bo {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    flex-wrap: wrap;
}
.text1 {
    width: 600px;
    height: 400px;
    box-shadow: 0 0 20px;
    border-radius: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
hr {
    width: 90%;
}
.tt {
    height: 8px;
}
p{
    font-size: 20px;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
.paco {
    width: 30px;
}
.introducao {
    text-align: center;
}
.es {
    width: 110px;
    height: 40px;
    background-color: rgb(161, 161, 161);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 21px;
    transition: 0.4s;
    cursor: pointer;
    text-align: center;
}
.bt1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    border-radius: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
}
.bt1:hover > :not(:hover) {
    transform: scale(0.95);
    opacity: 0.4;
}
.se {
    transition: 0.4s;
    text-align: center;
}
.alint {
    font-size: 130%;
}
.esp {
    height: 12px;
}
.slider {
    overflow: hidden;
    width: 400px;
    min-width: 400px;
    padding-left: 0px;
    padding-right: 0px;
}
.slides {
    width: 400px;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    position: relative;   
    transition: 2s;
}
.slide img {
    width: 400px;
    height: 400px;
}
.manual-navegation {
    position: absolute;
    width: 400px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px; 
    transition: 0.5s;   
}
.manual-btn:not(:last-child) {
    margin-right: 20px;
}
.manual-btn:hover {
    background-color: #fff;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -100%;
}
#radio3:checked ~ .first {
    margin-left: -200%;
}
#radio4:checked ~ .first {
    margin-left: -300%;
}
#radio5:checked ~ .first {
    margin-left: -400%;
}
#radio6:checked ~ .first {
    margin-left: -500%;
}
#radio7:checked ~ .first {
    margin-left: -600%;
}
.navegation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navegation-auto {
    position: absolute;
    flex-wrap: wrap;
    width: 250px;
    margin-top: 320px;
    display: flex;
    justify-content: center;
    margin-left: 75px;
    margin-right: 75px;
    padding-bottom: 5px;
    padding-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px;
}
.navegation-auto div:not(:last-child) {
    margin-right: 20px;
}
#radio1:checked ~ .navegation-auto .auto-btn1   {
    background-color: #fff;
    .st1 {
        opacity: 1;
        transition: 1s;
    }
}
#radio2:checked ~ .navegation-auto .auto-btn2   {
    background-color: #fff;
    .st2 {
        opacity: 1;
        transition: 1s;
    }
}
#radio3:checked ~ .navegation-auto .auto-btn3   {
    background-color: #fff;
    .st3 {
        opacity: 1;
        transition: 1s;
    }
}
#radio4:checked ~ .navegation-auto .auto-btn4   {
    background-color: #fff;
    .st4 {
        opacity: 1;
        transition: 1s;
    }
}
#radio5:checked ~ .navegation-auto .auto-btn5   {
    background-color: #fff;
    .st5 {
        opacity: 1;
        transition: 1s;
    }
}
#radio6:checked ~ .navegation-auto .auto-btn6   {
    background-color: #fff;
    .st6 {
        opacity: 1;
        transition: 1s;        
    }
}
#radio7:checked ~ .navegation-auto .auto-btn7   {
    background-color: #fff;
    .st7 {
        opacity: 1;
        transition: 1s;
    }
}
.introducao {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e9e9e9;
    border-radius: 30px;
    padding: 30px;
    padding-top: 5px;
}
.tttt {
    font-size: 30px;
}
.ttt {
    font-size: 20px;
}
.st {
    width: 230px;
    height: 200px;
    position: absolute;
    opacity: 0;
    transition: 1s;
    color: #f3f3f3;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    padding-top: 5px;
}
.st1 {
    margin-left: -13px;
    margin-top: -50px;
    height: 30px;
}
.st2 {
    margin-left: -47px;
    margin-top: -50px;
    height: 30px;
}
.st3 {
    margin-left: -81px;
    margin-top: -50px;
    height: 30px;
}
.st4 {
    margin-left: -115px;
    margin-top: -50px;
    height: 30px;
}
.st5 {
    margin-left: -149px;
    margin-top: -50px;
    height: 30px;
}
.st6 {
    margin-left: -183px;
    margin-top: -50px;
    height: 30px;
}
.st7 {
    margin-left: -217px;
    margin-top: -50px;
    height: 30px;
}
.text2 {
    margin-left: 15px;
    margin: 15px;
    width: 400px;
}
.text22 {
    width: 600px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 600px;
    background-image: url(imagens/freecode.png);
    background-size: cover;
    background-position: center;
}
.bt2 {
    margin-top: 35px;
    width: 350px;
    min-width: 350px;
}
.esss {
    width: 150px;
}
.bca {
    border-radius: 10px;
    margin: 0 5px 10px 5px;
}
