body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(180deg, rgb(230, 157, 0), rgb(146, 100, 0));
}
.ini {
    width: 100%;
    height: 260px;
    background: linear-gradient(40deg, black, rgb(255, 196, 0));
    align-content: center;
    box-shadow: 0 0 20px black;
}
.quaseh1 {
    color: white;
    margin-left: 100px;
    font-size: 50px;
    width: 500px;
    line-height: 55px;
    cursor: pointer;
}
.quaseh2 {
    font-size: 20px;
    color: white;
    margin-left: 100px;
    margin-top: 5px;
    width: 600px;
    cursor: pointer;
}
.quaseh1{
    position: relative;
    text-decoration: none;
}
.quaseh1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px; /* Ajuste conforme necessário */
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255); /* Cor do sublinhado */
    transition: width 0.5s ease; /* Animação de surgimento */
}
.quaseh1:hover::before {
    width: 100%;
}
.quaseh1 a{
    color: white;
    text-decoration: none;
}
.quaseh1 a:visited{
    color: white;
}
#header {
    position: fixed;
    height: 50px;
    width: 100%;
    backdrop-filter: blur(20px);
    z-index: 999;
    background-color: rgba(255, 166, 0, 0.411);
    display: none;
    flex-wrap: wrap;
    line-height: 10px;
    opacity: 0;
    transition: opacity 1s ease;
}
.clo {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 166, 0, 0.507);
    border-bottom-left-radius: 8px;
    cursor: pointer;
}
.ope {
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 166, 0, 0.575);
    border-bottom-right-radius: 8px;
    z-index: 9999;    
    backdrop-filter: blur(20px);
}
nav {
    display: flex;
    margin-right: auto;
}
nav h2 {
    text-align: end;
    margin-left: 50px;
}
header img {
    width: 50px;
    height: 50px;
}
nav h2{
    position: relative;
    text-decoration: none;
    color: black;
}
nav h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px; /* Ajuste conforme necessário */
    width: 0;
    height: 3px;
    background-color: rgb(0, 0, 0); /* Cor do sublinhado */
    transition: width 0.5s ease; /* Animação de surgimento */
}
nav h2:hover::before {
    width: 100%;
}
nav h2 a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav h2 a:visited{
    color: rgb(0, 0, 0);
}
.problema {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.151);
    margin-top: 50px;
    align-content: center;
    top: 0;
}
.contp h1, .contp h3 {
    text-align: left;
}
.contp {
    width: 50%;
    min-width: 600px;
    margin-left: 50px;
    margin-right: auto;
}
.solucao {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.151);
    margin-top: 50px;
    align-content: center;
    margin-bottom: 50px;
    top: 0;
}
.conts h1, .conts h3 {
    text-align: right;
}
.conts {
    width: 40%;
    min-width: 300px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.objetivo {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.151);
    margin-top: 50px;
    align-content: center;
    top: 0;
}
.conto {
    width: 50%;
    margin-left: 50px;
    min-width: 600px;
    margin-right: auto;
    text-align: left;
}
.card {
    position: -webkit-sticky;
    position: sticky;
    top: 30%;
    backdrop-filter: blur(10px) saturate(80%);
    box-shadow: 0 0 20px rgb(165, 107, 0);
}
.card1 {
    top: 20%;
}
.card2 {
    top: 26%;
    display: flex;
}
.card3 {
    top: 32%;
}
.refeli {
    width: 100%;
    height: 200px;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    border: 2px solid black;
    margin: auto 0 0 0;
    overflow-y: scroll;
    background-color: rgba(255, 196, 0, 0.384);
}
.refs {
    height: 250px;
    width: 50%;
    background-color: rgba(33, 33, 33, 0);
    border-radius: 15px;
    border: 2px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
    justify-content: center;
    min-width: 300px;
}
.refs a h1 {
    line-height: 2px;
    color: black;
    font-size: 150%;
    transition: 0.5s;
}
.refs a {
    color: black;
}
.refs a h1:hover {
    color: white;
}
hr {
    width: 80%;
    border-color: black;
}
footer {
    text-align: center;
}

@media (max-width: 700px) {
    .quaseh1 {
        margin: 0 auto 0 auto;
        text-align: center;
        font-size: 7vw;
        width: 80%;
        line-height: 7vw;
    }
    .quaseh2 {
        margin: 0 auto 0 auto;
        text-align: center;
        font-size: 3.5vw;
        width: 80%;
    }
    #header {
        width: 200px;
        height: 220px;
        display: block;
        border-radius: 0 0 10px 0;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }
    .clo {
        margin: auto 0 0 auto;
        border-radius: 10px;
        border-top: 2px solid black;
        border-left: 2px solid black;
    }
    nav {
        display: block;
        margin-left: 0;
    }
    nav h2, nav h2 a {
        margin-right: auto;
        text-align: left;
        margin-top: 35px;
        margin-left: -20px;
        line-height: 5px;
    }
    .resp {
        margin-top: 70px;
    }
    nav h2::before {
        left: -19px;
        bottom: -10px; /* Ajuste conforme necessário */
        height: 3px;
    }
    .contp {
        width: calc(100% - 10px);
        margin-left: 10px;
        min-width: 0;
        margin-right: auto;
    }
    .conts {
        width: 90%;
        min-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -500px;
        margin-bottom: auto;
        text-align: center;
    }
    .solucao {
        height: 600px;
        display: block;
        top: 0;
    }
    .conts h1, .conts h3 {
        text-align: center;
    }
    .conto {
        width: calc(100% - 10px);
        margin-left: 10px;
        min-width: 0;
        margin-right: auto;
    }
    .refs a h1 {
        font-size: 140%;
    }
    .refs {
        width: 90%;
    }
}

