* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #66abe9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}


.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #66abe9;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


iframe {
    width: 100%;
    border: none;
}


audio {
    width: 100%;
    margin-top: 10px;
}

h3 {
    color: #66abe9;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    color: #66abe9;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;  
    font-style: italic;
}

.banana {
    width: 70%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-block: 20px;
    border-radius: 20px;
}

