body{
    background-color: rgb(27, 35, 45);
    color: antiquewhite;
    margin: 0;
}
main{
    padding:10px
}
.itens{
    margin: 20px;
}
a {
    color: antiquewhite;
}
header{
    background-color: #171d20;
    margin: 0;
    padding: 10px;

    ul {
        list-style-type:circle;
    }
}

.redes{
    img{
        width:50px;
        margin: 5px;
    }
}