body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;    
    position: relative;
    font-family: "Montserrat", sans-serif;
}
.roboto-condensed-tit {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.background {
    width: 100%;
    height: 100%;
    background: linear-gradient(-225deg, black 50%, rgb(46, 46, 46) 50%);
    align-content: center;
}
.conteudo {
    position: relative;
    width: 70vw;
    height: 75vh;
    background-color: rgb(40, 40, 40);
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0.311);
    margin: auto;
    display: flex;
}
.divisoes {
    width: 20vw;
    height: calc(100% - 12px);
    background: linear-gradient(30deg, rgb(19, 19, 19), rgb(48, 48, 48));
    border-right: 3px solid rgba(20, 20, 20, 0.753);
    align-content: start;
    padding-top: 12px;
    overflow-y: auto;
}
.subdiv {
    width: 90%;
    height: 30px;
    margin: auto;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    user-select: none;
    margin-top: 10px;
}
#cat1 {
    margin-top: 0 !important;
}
.subdivt {
    height: 30px;
    width: 100%;
    display: flex;
    cursor: pointer;
}
.subdivt ion-icon {
    width: 30px;
    height: 30px;
    transition: 0.2s;
    border-radius: 50%;
}
.subdivt ion-icon:hover {
    background-color: rgba(180, 180, 180, 0.334);
    transition: 0.1s;
}
.subdivt p {
    margin-top: 0;
    margin: auto;
    margin-left: 0;
    font-size: 20px;
    font-weight: 550;
    width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subdive {
    width: 80%;
    padding-left: 20%;
    height: 30px;
    display: flex;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}
.subdive:hover {
    transform: translateX(10px);
}
.subdive ion-icon {
    width: 20px;
    height: 20px;
    transition: 0.2s;
    border-radius: 50%;
    margin: auto 5px auto 0;
}
@keyframes rotateIcon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.subdive p {
    margin-top: 0;
    margin: auto;
    margin-left: 0;
    font-size: 18px;
    font-weight: 500;
    width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.exibidor {
    width: 60vw;
    height: 100%;
    position: relative;
    background-color: rgb(6, 6, 6);
}
.exibido {
    background-color: rgb(58, 58, 58);
    border-radius: 7px;
    opacity: 0;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    transition: opacity 0.3s ease-out;
    display: none;
    align-content: center;
    overflow: hidden;
}
.exibido.visible {
    opacity: 1;
    transition: opacity 0s;
    display: block;
}
.exibido a {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
}
.exibido a img {
    width: 20px;
    height: 20px;
    border-radius: 0 0 2px 0;
}