.container{
    width: 750px;             /* Largura da caixa */
    background-color: rgb(210, 200, 200);  /* Cor de fundo da caixa */
    border-radius: 20px;         /* Cantos arredondados */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 30px;              /* Espaço interno */
    margin: auto;
    border-style:groove;

}

body{
    align-items: center;
    background-color: #f0f0f0;  /* Cor de fundo do site */
}
li{
    font: size 25px;
}
h1{
   font-size:50px;
}
h2{
    font-size: 40px;
}