body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.parallax {
    background-image: url(imagens/blur.png);
    height: 65vh;
    background-attachment: fixed;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -80px !important; 
    transition: 1s;
    box-shadow: 0 0 20px inset black;    
}
.parallax h1:nth-of-type(1) {
    text-align: center;
    font-size: 65px;    
    color: #1650ff;
    font-weight: 1000;
    text-shadow: 4px 4px 0px rgb(0, 0, 0, 0.8) !important;
}
.parallax h1:nth-of-type(2) {
    text-align: center;
    font-size: 45px !important;    
    color: #0073ff;
    margin-top: -50px;
    font-weight: 1000;
    text-shadow: 4px 4px 0px rgb(0, 0, 0, 0.8) !important;
}
.bar {
    width: 100%;
    height: 50px;
    position: sticky;
    top: -1px;
    background-color: #3075ff;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px black;  
    z-index: 10 !important;  
}
.bar a {
    height: auto;
    align-content: center;
    color: rgba(0, 0, 0, 0.952);
    text-decoration: none;
    font-weight: 1000;
    margin: 0 auto 0 auto;
}
.bar a nav {
    padding: 0px 10px 0px 10px;
    align-content: center;
    height: 100%;
    transition: 0.5s;
}
.bar a nav h1 {
    margin: auto;
}
.bar a nav:hover {
    background-color: rgba(0, 6, 41, 0.151);
}
.bar a nav:active {
    background-color: rgba(0, 1, 16, 0.231);
} 

.cont1 {
    width: 100%;
    height: 60vh;
    background-color: rgb(208, 206, 236);
    background-image: none;
    box-shadow: 0 0 20px inset black;
    align-content: center;
}
.cont1 h2 {
    font-size: 3.4vw;
    width: 80%;
    text-align: center;
    margin: auto;
    text-shadow: 4px 4px 0px rgba(116, 168, 247, 0.651);
}
.cont1 p {
    font-size: 1.6vw;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 30px !important;
    font-weight: 700;
}
.cont2 {
    width: 100%;
    height: 60vh;
    background-color: rgb(191, 211, 255);
    background-image: none;
    align-content: center;
}
.cont2 h2 {
    font-size: 3.4vw;
    text-align: center;
    margin: auto;
    text-shadow: 4px 4px 0px rgba(116, 168, 247, 0.651);
}
.cont2 p {
    font-size: 1.6vw;
    text-align: center;
    margin: auto;
    margin-top: 30px !important;
    font-weight: 700;
}
.gera {
    display: flex;
    justify-content: center;
}
.texto {
    width: 40%;
    margin: auto;
    background-color: #b3c0e5;
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
    box-shadow: 6px 6px 7px rgb(132, 142, 165);
}
.imagens {
    width: 40%;
    height: 100;
    position: relative;
    z-index: 1 !important;
}
.im {
    width: 40%;
    height: 40%;
    position: absolute;
    border: 2px solid black;
    border-radius: 3px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.im1 {
    background-color: antiquewhite !important;
    left: 10%;
    top: 10%;
    transform: rotate(2deg);
    background-image: url(imagens/7e879a60a09be66ccc57f8436f38f46d--leonardo-larger.jpg);
}
.im2 {
    background-color: rgb(0, 69, 219) !important;
    left: 50%;
    top: 10%;
    transform: rotate(3deg);
    background-image: url(imagens/Captura\ de\ tela\ 2024-09-19\ 074622.png);
}
.im3 {
    background-color: rgb(131, 121, 109) !important;
    left: 10%;
    top: 50%;
    transform: rotate(-3deg);
    background-image: url(imagens/Captura\ de\ tela\ 2024-09-19\ 075136.png);
}
.im4 {
    background-color: rgb(170, 110, 31) !important;
    left: 50%;
    top: 50%;
    transform: rotate(5deg);
    background-image: url(imagens/Captura\ de\ tela\ 2024-09-19\ 075209.png);
}
.cont3 {
    width: 100%;
    height: 450px;
    background-color: rgb(191, 211, 255);
    background-image: none;
    align-content: center;
}
.cont3 .gera .texto h2 {
    font-size: 3.4vw;
    text-align: center;
    margin: auto;
    text-shadow: 4px 4px 0px rgba(116, 168, 247, 0.651);
}
.cont3 .gera .texto p {
    font-size: 1.3vw;
    text-align: justify;
    margin: auto;
    margin-top: 10px !important;
    font-weight: 700;
}
.count5 {
    box-shadow: none !important;
}
#pa2 {
    background-image: url(imagens/imagemsla.jpg);
}
#pa3 {
    background-image: url(imagens/foto2.jpg);
}
.text1 {
    width: 600px;
    height: 400px;
    box-shadow: 0 0 20px;
    border-radius: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.slider {
    overflow: hidden;
    width: 400px;
    min-width: 400px;
    padding-left: 0px;
    padding-right: 0px;
}
.slides {
    width: 400px;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    position: relative;   
    transition: 2s;
}
.slide img {
    width: 400px;
    height: 400px;
}
.manual-navegation {
    position: absolute;
    width: 400px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px; 
    transition: 0.5s;   
}
.manual-btn:not(:last-child) {
    margin-right: 20px;
}
.manual-btn:hover {
    background-color: #fff;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -100%;
}
#radio3:checked ~ .first {
    margin-left: -200%;
}
#radio4:checked ~ .first {
    margin-left: -300%;
}
#radio5:checked ~ .first {
    margin-left: -400%;
}
.navegation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navegation-auto {
    position: absolute;
    flex-wrap: wrap;
    width: 250px;
    margin-top: 320px;
    display: flex;
    justify-content: center;
    margin-left: 75px;
    margin-right: 75px;
    padding-bottom: 5px;
    padding-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px;
}
.navegation-auto div:not(:last-child) {
    margin-right: 20px;
}
#radio1:checked ~ .navegation-auto .auto-btn1   {
    background-color: #fff;
    .st1 {
        opacity: 1;
        transition: 1s;
    }
}
#radio2:checked ~ .navegation-auto .auto-btn2   {
    background-color: #fff;
    .st2 {
        opacity: 1;
        transition: 1s;
    }
}
#radio3:checked ~ .navegation-auto .auto-btn3   {
    background-color: #fff;
    .st3 {
        opacity: 1;
        transition: 1s;
    }
}
#radio4:checked ~ .navegation-auto .auto-btn4   {
    background-color: #fff;
    .st4 {
        opacity: 1;
        transition: 1s;
    }
}
#radio5:checked ~ .navegation-auto .auto-btn5   {
    background-color: #fff;
    .st5 {
        opacity: 1;
        transition: 1s;
    }
}
.st {
    width: 230px;
    height: 200px;
    position: absolute;
    opacity: 0;
    transition: 1s;
    color: #f3f3f3;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    padding-top: 5px;
}
.st1 {
    margin-left: -45px;
    margin-top: -50px;
    height: 30px;
}
.st2 {
    margin-left: -80px;
    margin-top: -50px;
    height: 30px;
}
.st3 {
    margin-left: -115px;
    margin-top: -50px;
    height: 30px;
}
.st4 {
    margin-left: -150px;
    margin-top: -50px;
    height: 30px;
}
.st5 {
    margin-left: -185px;
    margin-top: -50px;
    height: 30px;
}
#cont1 {
    position: absolute;
    top: 50%;
}
#cont2 {
    position: absolute;
    top: 110%;
}
#cont3 {
    position: absolute;
    top: 242%;
}


footer {
    width: 100%;
    display: block;
    background-color: rgb(208, 206, 236);
    position: absolute;
}
footer hr {
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.37);
}
footer p {
    text-align: center;
    font-weight: 550;
}