body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #005003bf;
    color: white;
}
.feriado {
    background-color: rgba(255, 166, 0, 0.574);
}
.calendario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-collapse: collapse;
    margin: 20px;
}