body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
header {
    background: linear-gradient(130deg, rgb(20, 20, 20), black);
    height: 100vh;
    width: 100%;
    position: sticky;
    top: -94vh;
}
header h1 {
    color: white;
    position: absolute;
    font-size: 70px;
    width: 500px;
    margin-left: calc(50vw - 250px);
    text-align: center;
    top: 34vh;
}
.block {
    width: 100%;
    height: 100vh;
    align-content: center;
}
.block h2 {
    width:calc(70vw + 20px);
    margin: 0 auto 25px auto;
    text-align: center;
    font-size: 35px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px 10px 0 0;
    padding-top: 15px;
}
.block p {
    font-size: 20px;
    text-align: center;
    width:70vw;
    margin: auto;
    background-color: rgb(230, 230, 230);
    margin-top: -30px;
    padding: 10px 10px 15px 10px;
    margin-bottom: 15vh;
    border-radius: 0 0 10px 10px;
}
.sla {
    margin: auto;
    text-align: center;
    margin-left: calc(50% - 100px);
    border-radius: 20px;
    margin-top: -30px;
}
.mat {
    width: 100%;
    height: 100vh;
    background-color: black;
    align-content: center;
}
.mat h2 {
    width: 100%;
    color: white;
    text-align: center;
}
.ond {
    display: flex;
    width: 100%;
    justify-content: center;
}
.ond div {
    background-color: rgb(23, 23, 23);
    text-align: center;
    width: 25vw;
    margin: 35px;
    padding: 8px;
    border-radius: 20px;
    color: white;
    box-shadow: 5px 5px 10px rgba(116, 116, 116, 0.836);
    transition: 0.3S;
}
.ond div:hover {
    transform: scale(1.1);
}
nav {
    top: 95vh;
    position: absolute;
}
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 550;
    transition: 0.3s;
}
nav a:hover {
    transform: scale(1.05);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.534);
}
