main img {
    width: 200px;
    height: 200px;
} 

body {
  background-color: white;
}

@media (min-width:700) {
  body {
    background-color: aquamarine;
  }
}

@media (max-width:700) {
  body {
    background-color: white;
  }
}


