body{
    background-color: rgba(1, 118, 32, 0.511);
}
h1{
    color: rgb(0, 59, 25);
    text-align: center;
}
h2,p{
    color: rgb(0, 30, 0);
    text-align: center;
}
 section{
    color: rgb(255, 255, 255);
    margin: 20px;
    border: solid 2px;
    padding: 10px;
    border-radius: 10px;
    font-style:normal;
    font-size: 20px;
 }
 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(255, 255, 255); 
 }
 h3{
    text-align: center;
    color: rgb(0, 41, 24);
 }
 a{
    text-align: center;
    color: rgb(10, 57, 53);
 }
 header{
    background-color: rgb(0, 73, 28);
    color: rgb(0, 127, 68);
    font-family: Agency FB;
    
 }
 footer{
    background-color: rgb(2, 94, 36);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 9px;
 }