@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}

html,
body {
    margin: 0;
    padding: 0;
    --color-text: #000;
    --color-bg: #9dddcc;
    --color-link: #000;
    --color-button: #000;
    --color-button-hover: #22697d;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 500;
    height: 100vh;
}

.wrapper {
    overflow-y: auto;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.production, .results {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image {
    width: 25%;
    max-width: 300px; 
    margin: 0; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px; 
}


.image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: "Bowlby One SC", sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.unbutton:focus {
    outline: none;
}

.button {
    color: var(--color-button);
    border-radius: 30px;
    min-width: 150px;
    padding: 1rem 2rem;
    border: 1px solid currentColor;
}

.button:hover,
.button:focus-visible {
    color: var(--color-button-hover);
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.lightbox-image {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
