body {
    background-image: url("tay2.jpg");
    font-style: italic;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-size: larger;
}
header {
    background-color: #150a51;
    color: #6f6eb5;
    padding: 10px 0;
    text-align: center;
    font-style: italic;
}
nav {
    background-color: #47398fa6;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-style: italic;
}
nav a:hover {
    text-decoration: underline;
}
.content {
    padding: 20px;
}
