body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: xx-large;
}
.pote {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.poti {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2 {
    background-color: white; 
    color: white; 
    border: 2px solid #008CBA;
}
.button2:hover {
    background-color: #008CBA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(214, 141, 6, 0.24),0 17px 50px 0 rgba(214, 141, 6, 0.24);
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
.button1:hover {
    background-color: #555555;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.24),0 17px 50px 0 rgba(255, 0, 0, 0.24);
}
.div {
    width: 600px;
    height: auto;
}