body {
    background-color: #3498db;
    margin: 0;
    padding: 0;
}

.primeiro {
    width: 95%;
    height: 100px;
    margin-top: 40px;
    margin-left: 35px;
    background: rgb(91, 68, 192);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    align-content: center;
}

.stro {
    top: 40px;
    position: relative;
    font-size: 20px;
    text-align: center;
}

.stro:hover .atote {
    display: block;
    width: 60%;
}

.atote {
    display: none;
    position: relative;
    bottom: 30px;
    top: 100%;
    left: 12%;  
    background-color: #3bfffc;
    padding: 8%;
    border: 1px solid #3bfffc;
    border-radius: 20px;
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
}

footer {
    text-align: center;
    padding: 10px;
    width: 98.65%;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;
}

