body {
    background: linear-gradient(45deg, rgb(255, 0, 0) rgb(255, 0, 0));

}

i {
    color: rgb(0, 0, 0);
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}

p {
    color:rgb(0, 0, 0);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.arm{
    position:absolute;
    left: 3%;
    top: 30%;
}
.rightfeet{
    position: absolute;
    right: 3%;
    top: 30%;
}