
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;/* Define a fonte padrão */
    background-image: url(fundo.png); /* Cor de fundo da página */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*titulo*/
h1 {
    /* font-style: italic; */
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
    position: relative;
    top: 50px;
    font-weight: bold;
    text-shadow:
    1px 1px 0 rgb(69, 72, 162),
    -1px 1px 0 rgb(69, 72, 162),
    1px -1px 0 rgb(69, 72, 162),
    -1px -1px 0 rgb(69, 72, 162),
    0 1px 0 rgb(69, 72, 162),
    0 -1px 0 rgb(69, 72, 162),
    1px 0 0 rgb(69, 72, 162),
    -1px 0 0 rgb(69, 72, 162);
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

/* Barra de navegação */
section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    position: relative;
    top: 60px;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #45b7f0; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    position: relative;
    top: 70px;
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 2   rem; /* Espaçamento acima da caixa de resultados */
    padding: 2rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
    position: relative;
    top: 20px;
    display: block;
    
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #30475E; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #0040ff96; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    bottom:0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
    position: fixed;
}

img{
    float: left;
    border: transparent thin solid;
    padding: 0px;
    margin: 0px 10px 10px 0;
    width: 9vw;
    height: 9vw;
    border-radius: 20px;
}
 