body {
    background-color: rgb(255, 255, 255);

}

i {
    color: rgb(0, 0, 0);
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}

p {
    color:rgb(0, 0, 0);
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.arm{
    position:absolute;
    left: 3%;
    top: 30%;
}
footer{
    text-align: center;
}
