body {
    text-align: center;
      background-color: rgb(16, 2, 92);
  }
      h1 {
          color: rgb(255, 255, 255);
          text-align: center;
      }
      
      h2 {color: whitesmoke;}
      p {color: whitesmoke;}
     img {
      height:300 ;
      width:600 ;
      display: block;
      margin-left: auto;
      margin-right: auto;
     p {color: whitesmoke;}}
  div  {
    width: 80%;
        background-color: rgb(16, 14, 14);
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
  }