* {
  margin: 0;
  padding: 0;
}
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
  color: rgb(0, 44, 241);
}

.star:before {
  position: fixed;
  content: '\2726';
  color: inherit;
  inset: 0;
  box-shadow: 0 0 1em .5em rgb(0, 166, 243);
  filter: drop-shadow(0 0 .5em rgb(163, 98, 248));
  text-shadow: 0 0 .8em rgb(255, 255, 255);
} */


body {
  background-color: black;
  color: white;
}

.nome h1 {
  text-align: center;
  font-size: 14vw;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 8px;
  padding-bottom: 300px;
  padding-top: 15vh;
}
h2 {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  max-width: 60%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: rgb(169, 169, 169);
  transition: 1s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}
h2:hover::after {
  transform: scaleX(1);
}

main{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.proj {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Italiana", sans-serif;
  letter-spacing: 2px;

}

a {
  text-decoration: none;
  color: white;
}

hr {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.proj h2:hover {
  color: rgb(169, 169, 169);
  transition: linear 0.3s;
  transform: scale(1.1);
  text-align: center;

}
p{
  text-align: center;
  color: white;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
}
html {
  scroll-behavior: smooth;
}

.menu {
  margin-top: 30px;
  margin-left: 30px;
}

.menu .menu-lines {
  position: fixed;
  z-index: 999;
  width: 35px;
  height: 35px;

}

.menu-lines span {
  display: block;
  width: 35px;
  height: 5px;
  margin-bottom: 10px;
  background-color: rgb(169, 169, 169);
  border-radius: 3px;
  transition: all ease .2s;
}

.menu .menu-fake {
  position:fixed;
  z-index: 1000;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}


.menu .menu-fake:checked~.menu-lines span:nth-child(1) {
  transform-origin: 0% 0%;
  transform: rotate(45deg)scaleX(1.25);
}

.menu .menu-fake:checked~.menu-lines span:nth-child(2) {
  opacity: 0;
}

.menu .menu-fake:checked~.menu-lines span:nth-child(3) {
  transform: rotate(-45deg)scaleX(1.25);
  transform-origin: 0% 100%;
}

.menu ul {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 300px;
  background-color: rgb(19, 19, 19);
  height: 100vh;
  padding-top: 100px;
  margin-left: -300px;
  transition: all ease .4s;
}

.menu .menu-fake:checked~ul {
  margin-left: 0;
}

.menu ul li {
  padding: 10px 30px;

}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  margin-top: 300px;
  letter-spacing: 2px;
}

.menu ul li a:hover {
  color: rgb(169, 169, 169);
  transition: all ease .3s;
}

img{
  display: block;
  margin-left: calc(100vw - 6vw);
  width: 3vw;
  height: 3vw;
  position: fixed;
}

@keyframes giro {
  100% {transform: rotate(360deg);}
}
img{
  animation: giro 2s infinite;
}