* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
}

.nome h1 {
  text-align: center;
  font-size: 13vw;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 8px;
  padding-bottom: 300px;
  padding-top: 15vh;
}
h2 {
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  max-width: 60%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  font-size: 1.6vw;
}

main{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.proj {
  text-align: center;
  width: 50%;
  /* margin: auto;
  position: relative; */
  font-family: "Italiana", sans-serif;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
}

.card{
  position: relative;
}


.card::before{
  content: "";
  width: 0;
  position: absolute;
  height: 2px;
  top: 100%;
  left: 50%;
  background-color: rgb(169, 169, 169);
  transition: 0.7s;
}

.card:hover::before{
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  top: 100%;
  border-radius: 5px;
}


.acs{
  text-align: end;
  color: white;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 1.6vw;
}

.sobre{
  text-align: center;
}

.sobre p{
  margin-top: -10%;
  padding-bottom: 10%;
  font-size: 1.8vw;
}

html {
  scroll-behavior: smooth;
}

.menu {
  margin-top: 30px;
  margin-left: 30px;
}

.menu .menu-lines {
  position: fixed;
  z-index: 999;
  width: 35px;
  height: 35px;

}

.menu-lines span {
  display: block;
  width: 35px;
  height: 5px;
  margin-bottom: 10px;
  background-color: rgb(169, 169, 169);
  border-radius: 3px;
  transition: all ease .2s;
}

.menu .menu-fake {
  position:fixed;
  z-index: 1000;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}

.menu .menu-fake:checked~.menu-lines span:nth-child(1) {
  transform-origin: 0% 0%;
  transform: rotate(45deg)scaleX(1.25);
}

.menu .menu-fake:checked~.menu-lines span:nth-child(2) {
  opacity: 0;
}

.menu .menu-fake:checked~.menu-lines span:nth-child(3) {
  transform: rotate(-45deg)scaleX(1.25);
  transform-origin: 0% 100%;
}

.menu ul {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 300px;
  background-color: rgb(19, 19, 19);
  height: 100vh;
  padding-top: 100px;
  margin-left: -300px;
  transition: all ease .4s;
}

.menu .menu-fake:checked~ul {
  margin-left: 0;
}

.menu ul li {
  padding: 10px 30px;

}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  margin-top: 300px;
  letter-spacing: 2px;
}

.menu ul li a:hover {
  color: rgb(169, 169, 169);
  transition: all ease .3s;
}
.logo3{
  width: 4vw;
  height: 4vw;
}
.logo2{
  width: 3vw;
  height: 4vw;
}
.logo1{
  width: 6vw;
  height: 3vw;
}
.logos{
  width: 60%;
  justify-content:  center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

@property --eyelid {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --eyelid2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
.eyes {
  width: 15vw;
  padding-block: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  
  div {
    position: relative;
    width: 5vw;
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
  align-items: center;
  justify-content: center;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 116%;
      height: 165%;
      left: 50%;
      animation: eyelid 5s ease-in-out infinite;
      z-index: 1;
    }
    &:before {
      top: 0;
      border-radius: 0% 0% 40% 40%;
      transform: translateY(var(--eyelid)) translateX(-50%);
      border-bottom: 40px solid black;
    }
    &:after {
      bottom: 0;
      border-radius: 40% 40% 0% 0%;
      transform: translateY(var(--eyelid2)) translateX(-50%);
      border-top: 40px solid black;
    }
    i {
      position: absolute;
      width: 3.5vw;
      aspect-ratio: inherit;
      background: black;
      border-radius: inherit;
    }
  }
}

@keyframes eyelid {
  0% {
    --eyelid: -50%;
    --eyelid2: 50%;
  }
  3% {
    --eyelid: 0%;
    --eyelid2: 0%;
  }
  6% {
    --eyelid: -50%;
    --eyelid2: 50%;
  }
  9%,100% {
    --eyelid: 0%;
    --eyelid2: 0%;
  }
}
.zoio{
  position: fixed;
  margin-left: calc(82vw - 5px);
}