* {
    box-sizing: border-box;
  }
body{
    background-color: #acacac;
}
h1{
    text-align: center;
    color: #3c3c3c;
}
.imagem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .imagem img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .imagem::after {
    content: "";
    width: 350px;
  }
h2{
    text-align: center;
}
p{
    text-align: justify;
    text-transform:inherit;
    margin-left: 40px;
    margin-right: 40px;
}
iframe{
    display: block;
    margin: auto;
}
@media (max-width: 768px) {
    body{
        background-color: #acacac;
    }
    .imagem {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 16px;
        max-width: 1400px;
        margin: 0 auto;
        padding: 20px 10px;
      }
      
      .imagem img {
        width: 100%;
        max-width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
      }
      
      .imagem::after {
        content: "";
        width: 350px;
      }
}