body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    font-size: 40px;
}
.titulo{
    background-color:lightsalmon;
    width: 50%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.site1, .site2, .site3, .site4, .site5, .site6{
    background-color:lightgreen;
    width: 50%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: white;
}
h2{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}