@font-face {
    font-family: 'iCarly-font';
    src: url(./iCarly.ttf);
}

body {
    background-color: #24f1fc;
    font-family: 'iCarly-font';
    overflow: hidden;
}

#icarly-container {
    position: relative;
    background-color: #7C2899;
    height: 50vh;
    border: 5px solid #fff53d;
    border-radius: 10px;
    top: 5vh;
    margin: 0 3vw;
}

#icarly-shape {
    position: absolute;
    background-color: #D2008F;
    clip-path: polygon(0 0, 100% 27%, 100% 78%, 0 100%);
    width: 20vw;
    height: 18vh;
    top: -6vh;
    left: 14vw;
}

#icarly {
    position: absolute;
    left: 14vw;
    top: -8vh;
}

#icarly-nav {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 15.5vh;
    font-size: 2em;
}

a {
    color: white;
    text-decoration: none;
    border: 5px solid #fff53d;
    border-radius: 5px;
    padding: 5px;
    background-color: #7CCEEA;
    font-weight: bold;
    margin: 0 0.5vw;
}

#icarly-family {
    position: absolute;
    background-color: #fff53d;
    height: 18vh;
    width: 13vw;
    right: 10vw;
    border-radius: 10px;
    top: -6vh;
}

#icarly-family-bg {
    position: absolute;
    background-color: #A4C83F;
    height: 16vh;
    width: 11vw;
    border-radius: 10px;
    border: 5px solid white;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#icarly-family-pic {
    position: absolute;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 11vw;
    height: 20vh;
}

section {
    position: relative;
    background-color: white;
    height: 28vh;
    border: 5px solid #fff53d;
    border-radius: 50% 50% 10px 10px;
    margin: 0 3vw;
    bottom: 22vh;
}

#cool-webcast {
    position: absolute;
    right: 32vw;
    font-size: 2.2em;
}

footer {
    position: relative;
    background-color: #FFAC46;
    height: 30vh;
    bottom: 23vh;
    border: 5px solid #fff53d;
    border-radius: 10px;
    margin: 0 3vw;
}

#credits {
    position: absolute;
    right: 60vw;
    font-size: 2.0em;
    bottom: 0vh;
}

#github {
    position: absolute;
    clip-path: ellipse(50% 25% at 50% 50%);
    background-color: #FCFEC4;
    left: 40vw;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    cursor: pointer;
}

#freecodecamp {
    position: absolute;
    clip-path: ellipse(50% 25% at 50% 50%);
    background-color: #7ED0E9;
    right: 10vw;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 200px;
    width: 250px;
    line-height: 200px;
    text-align: center;
    cursor: pointer;
}

#i {
    font-size: 150px;
    color: #fff53d;
    -webkit-text-stroke: 0.5px darkblue; /* width and color */
    text-shadow: 0px 0px 0 rgb(239,229,45),
                 1px -1px 0 rgb(224,214,30),
                 2px -2px 0 rgb(208,198,14),
                 3px -3px  0 rgb(192,182,0),
                 4px -4px 3px rgba(0,0,0,0.6),
                 4px -4px 1px rgba(0,0,0,0.5),
                 0px 0px 3px rgba(0,0,0,.2);
 }

#in {
    font-size: 150px;
    color: #24f1fc;
    -webkit-text-stroke: 0.5px darkblue; /* width and color */
    text-shadow: 0px 0px 0 rgb(20,225,236),
                 1px -1px 0 rgb(5,210,221),
                 2px -2px 0 rgb(-11,194,205),
                 3px -3px  0 rgb(-27,178,189),
                 4px -4px 3px rgba(0,0,0,0.6),
                 4px -4px 1px rgba(0,0,0,0.5),
                 0px 0px 3px rgba(0,0,0,.2);
 }

 #dex {
       font-size: 150px;
       color: #24f1fc;
       -webkit-text-stroke: 0.5px darkblue; /* width and color */
       text-shadow: 0px 0px 0 rgb(7,212,223),
                    -1px -1px 0 rgb(-22,183,194),
                    -2px -2px 0 rgb(-51,154,165),
                    -3px -3px 0 rgb(-80,125,136),
                    -4px -4px  0 rgb(-109,96,107),
                    -5px -5px 4px rgba(0,0,0,0.48),
                    -5px -5px 1px rgba(0,0,0,0.5),
                    0px 0px 4px rgba(0,0,0,.2);
 }

 #com {
       font-size: 100px;
       color: #fff53d;
       -webkit-text-stroke: 0.5px darkblue; /* width and color */
       text-shadow: 0px 0px 0 rgb(226,216,32),
                    -1px -1px 0 rgb(197,187,3),
                    -2px -2px 0 rgb(168,158,0),
                    -3px -3px 0 rgb(139,129,0),
                    -4px -4px  0 rgb(110,100,0),
                    -5px -5px 4px rgba(0,0,0,0.48),
                    -5px -5px 1px rgba(0,0,0,0.5),
                    0px 0px 4px rgba(0,0,0,.2);
 }

 @media (max-width: 1432px) {

    #pole {
        display: none;
    }

 }

 @media (max-width: 1550px) {

    #three-container {
        display: none;
    }

 }