html, body {
    height: 100%;
    width: 100%;
    padding: 0;
}

body {
background-image: url(biblioteca.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100%;
width: 100%;
 overflow: hidden;
}

h1{
color: white;
position: relative;
top: 150px;
left: 400px;
backdrop-filter: blur(20px);
width: 400px;
font-size: 50px;
border-radius: 20px;
text-align: center;
box-shadow: 0 0 10px white;
}

.question-a {
    position: relative;
    top: 250px;
    font-size: 30px;
    left: 350px;
    color: white;
    backdrop-filter: blur(20px);
    width: 150px;
    border-radius: 20px;
    box-shadow: 0 0 5px white;
    text-align: center;

}

.question-a:active{
    box-shadow: 0 0 5px green;
    position: relative;
}

.question-b {
    position: relative;
    top: 190px;
    font-size: 30px;
    left: 750px;
    color: white;
    backdrop-filter: blur(20px);
    width: 160px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 5px white;
}

.question-b:active{
    box-shadow: 0 0 5px red;
}

a {
    text-decoration: none;
}