* {
    margin: 0;
}

body {
    background-image: url("tomie.jpeg");
    color: aliceblue;
    background-repeat: no-repeat;
}

.titulo {
    background-color: grey;
    border-radius: 10px;
}

.rainbow {
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite
}

@keyframes rainbow {

    100%,
    0% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}

.introducao {
    text-align: center;
}

h1 {
    text-align: center;
}

a {
    text-align: center;
    color: white;
}