* {
    margin: 0;
}

body {
    background-image: url("cidade.jpeg");     
    color: antiquewhite;  
    background-repeat: no-repeat;
}

.titulo {
    background: linear-gradient(to right, #A3C5F1, #0C121D);
    margin-bottom: 50px; 
}

.rainbow {
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite
}

@keyframes rainbow {

    100%,
    0% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}

.introducao {
    text-align: center;
    margin-bottom: 75px;
}

h1 {
    text-align: center;
    font-style: italic;
}

a {
    text-align: center;
    color: white;
    margin-left: auto;
    margin-left: auto;
    color: rgb(77, 77, 174);
}

.tomie.jpeg {
    width: 200px;
}

section {
    text-align: center;
}

.zero {
    padding: 20px;
    background-color:  #A3C5F1;
    border-radius: 20px;
    border: solid 5px;
}

.um {
    padding: 20px;
    background-color:  #83A2CD;
    border-radius: 20px;
    border: solid 5px;
}

.dois {
    padding: 20px;
    background-color:  #6582AA;
    border-radius: 20px;
    border: solid 5px;
}

.três {
    padding: 20px;
    background-color:  #4B6387;
    border-radius: 20px;
    border: solid 5px;
}

.quatro {
    padding: 20px;
    background-color:  #334663;
    border-radius: 20px;
    border: solid 5px;
}

.cinco {
    padding: 20px;
    background-color:  #1E2B40;
    border-radius: 20px;
    border: solid 5px;
}

.seis {
    padding: 20px;
    background-color:  #0C121D;
    border-radius: 20px;
    border: solid 5px black;
    color: #6582AA;
}

.sete {
    padding: 20px;
    background-color:  #030406;
    border-radius: 20px;
    border: solid 5px black;
    color: #A3C5F1;
}

button {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}


