* {
    margin: 0;
}

body {
    background-image: url("cidade.jpeg");     
    color: antiquewhite;  
    background-repeat: no-repeat;
}

.titulo {
    background-color: rgb(77, 77, 174);
    margin-bottom: 50px; 
}

.rainbow {
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite
}

@keyframes rainbow {

    100%,
    0% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}

.introducao {
    text-align: center;
    margin-bottom: 75px;
}

h1 {
    text-align: center;
    font-style: italic;
}

a {
    text-align: center;
    color: white;
    margin-left: auto;
    margin-left: auto;
    color: rgb(77, 77, 174);
}

.tomie.jpeg {
    width: 200px;
}

section {
    text-align: center;
}