body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #d9c9c9
}