body{
    background: linear-gradient(90deg, pink, rgb(255, 0, 106), pink);
    text-align: center;
}

h1,h2{
font-family: 'Courier New', Courier, monospace;
} 

.familia{
float: center;
right: 150px;
height: 400px;
display: flex;
justify-content:center;
top: 1px; 
}
.text{
text-align: center;
font-family:'Courier New', Courier, monospace;
}

.manu{
    height: 300px;
}

.papi{
    height: 200px;

}