/* Importando Fonte */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,300,400,600,700&display=swap');
 
/* Configurações Globais */
* {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(37, 37, 37);
}
 
/* Estilo do Container Principal */
#landingPage {
    padding-top: 10%;
    font-size: 30px;
    padding-left: 40px;
    line-height: 25px;
    padding-bottom: 15%;
}
 
#landingPage h4 {
    color: rgb(99, 99, 99);
    font-weight: 400;
    font-size: 20px;
}
 
/* Links e Hover */
#landingPage a {
    color: rgb(0, 191, 110);
    text-decoration: none;
    cursor: default;
    transition: 0.5s;
}
 
 
#landingPage #hireButton:hover {
    background-color: rgb(0, 191, 178);
    border: 3px solid rgb(0, 191, 178);
}
 
/* Botão "Portfolio" */
.linguagem {
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 20px;
    font-weight: 600;
    border: 3px solid rgb(0, 153, 110);
    transition: 0.5s;
}
 
#landingPage #portfolioButton:hover {
    background-color: rgb(0, 191, 110);
    border: 3px solid rgb(0, 191, 110);
}
 
 
ul.transition li {
    transform: scaleY(0);
    transform-origin: bottom left;
    background-color: white;
    width: 20%;
}
p {
    font-weight: 200;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}
h2 {
    color: rgb(0, 191, 110)
}
hr {
    color: rgb(41, 40, 40);
    max-width: 50%;
    margin-top: 14%;
    text-align: center;
}
li {
    font-weight: 300;
    font-style: inherit;
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
}
 
.refs .a1 {
    font-weight: 400;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}
/* Footer */
.footer {
    background-color: #1d1d1d;
    color: white;
    padding: 30px 0;
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
}

.footer-content p {
    color: #b0b0b0;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}
