body {
    background-image: url("fundo.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   }
   h1 {
    color: rgb(255, 0, 149);
    text-align: center;
   }
   h2 {
    color: rgb(255, 0, 200);
    text-align: left;
   }
   img {
    display: block;
    margin-left: auto;     
    margin-right: auto;
   }