.hub{
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 46, 56);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li {
    margin-left: 3px;
    list-style: none;
}
h1, p {
    color:antiquewhite;
    margin: 10px;
}
a {
    color: antiquewhite;
}

p{
    font-size: 30px;
}
h1{
    font-size: 60px;
}