/* Reset de Estilos Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.imagem_de_fundo1{
        background-image: url("https://th.bing.com/th/id/OIP.dhFzt5dR8fiodoHmdq9zSAHaJj?rs=1&pid=ImgDetMain");
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
    }/* feito por João G. */

    .imagem_de_fundo2{
        background-image: url("https://th.bing.com/th/id/OIP.7fRJnHRRScswPT9NiqcvvQHaGV?rs=1&pid=ImgDetMain");
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
    } /* feito por João G. */

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.questao {
    text-align: center;
}

.questao da img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

div{
    background-color: rgba(255, 255, 255, 0.7); 
}

.questao do texto {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.opcoes {
    list-style-type: none;
    padding: 0;
}

.opcoes li {
    margin-bottom: 10px;
}

