body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #ddd;
    padding: 10px;
}

main {
    padding: 20px;
}

aside {
    background-color: #eee;
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


main img {
    display: block;
    margin: 0 auto;
    align-items:   center;
}
a{
    color: black;
}