body {
  margin: 0;
  padding: 0;
  background-color:rgb(0, 111, 128);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
.subir{
  width: 3%;
  display: block;
}


main {
  padding: 20px;
}

aside {
  background-color: #eee;
  padding: 10px;
}

header {
  background-color: #333;
  color: red;
  padding: 15px;
  text-align: center;
  font-family: fantasy;
}

footer {
  background-color:rgb(0, 111, 128);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main img {
  display: block;
  margin: 0 auto;
  align-items:   center;
}

a{
  color: rgb(255, 255, 255);
  text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}
h2{
  color: rgb(255, 255, 255);
  text-align:center;
}
p{color:rgb(255, 255, 255);
  text-align:center;
}
a{color:rgb(255, 255, 255);
}
ol{color: rgb(255, 255, 255);
  text-align:center;
  }
   li{color:rgb(255, 255, 255);
      text-align:center;
  }
  figcaption{color: rgb(255, 255, 255);
      text-align:center;
  }
img {
  display:block;
margin-left:auto;
margin-right:auto;
width: 60%;
}
.subir{
  width: 3%;
}