body{
background-color: black;





}
p{

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: small;
color: blue;
text-align: center;




}
a{
 color: blue;
 text-align: center;




}