body {
    font-family: 'Georgia', serif;
    background-color: #f0f0f0;
    text-align: center;
}

.poema {
    background-color: #f5007ab6;
    box-shadow: 0 2px 5px rgba(252, 27, 98, 0.523);
    height: 60px;
}

h1 {
    font-size: 30px;
    position: relative;
    top: 10px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}
.poema {
    background: linear-gradient(to bottom right, #ff008c, #ff0062);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(255, 0, 106, 0.5);
}

.verso:hover {
    transform: scale(1.1);
    text-shadow: none;
}

.texto{
    background-color: #f5007ab6;
    padding: 20px;
    margin: 50px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.523);
    text-align: center;
    

}
.texto{
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(255,173,203,1) 0%, rgba(255,79,147,1) 88%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(53, 53, 53, 0.5);
    text-align: center;
    transition: transform 0.3s ease; 
}

.texto:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;}

    
.texto2{
    background-color: #f5007ab6;
    padding: 20px;
    margin: 50px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.523);
    text-align: center;
    

}
.texto2{
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(255,173,203,1) 0%, rgba(255,79,147,1) 88%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(53, 53, 53, 0.5);
    text-align: center;
    transition: transform 0.3s ease; 
}

.texto2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.texto3{
    background-color: #f5007ab6;
    padding: 20px;
    margin: 50px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.523);
    text-align: center;
    

}
.texto3{
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(255,173,203,1) 0%, rgba(255,79,147,1) 88%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(53, 53, 53, 0.5);
    text-align: center;
    transition: transform 0.3s ease; 
}

.texto3:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.texto4{
    background-color: #f5007ab6;
    padding: 20px;
    margin: 50px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.523);
    text-align: center;
    

}
.texto4{
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(255,173,203,1) 0%, rgba(255,79,147,1) 88%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(53, 53, 53, 0.5);
    text-align: center;
    transition: transform 0.3s ease; 
}

.texto4:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}