p{
   color: whitesmoke;
   text-align: center; 
  font-family: initial;
  font-size: xx-large;


}
body{

background-color:black;
text-align: center;
font-size: xx-large;
   font-family:'Times New Roman', Times, serif 

}

  
   


h1,h2{
 color: whitesmoke;
 font-family:initial;
 font-size: small;



}

hr{

   height: 20px;
}

section{

   text-align: center;
    background-color:rgba(0, 0, 0, 0.32);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
    border-style:hidden;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: block;
     
 
}
a{
color:whitesmoke;
font-family: initial;
font-size:x-large;


}
@media(max-width: 768px){
   body{
     background-color: grey;
   }
    
 }
 button {
   background-color:rgba(43, 39, 39, 0.219);
   border: none;
   color: white;
  
   text-align: center;
   text-decoration:solid;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;

   width: 350px;
   height: 100px;
 }
