p{
   color: black;
   text-align: center; 
  font-family: initial;
  font-size: xx-large;


}
body{

background-color:black ;
text-align: center;
font-size: xx-large;
   font-family:'Times New Roman', Times, serif 

}

  
   


h1,h2{
 color: whitesmoke;
 font-family:initial;
 font-size: small;



}

hr{

   height: 20px;
}

section{

   text-align: center;
    background-color:aquamarine;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
    border-style: double;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: block;
     
 
}
a{
color:black;
font-family: initial;
font-size: smaller;


}
@media(max-width: 768px){
   body{
     background-color: grey;
   }
    
 }
