html {
    padding: 0;

    body {
        margin: 0;
        padding-top: 44px;

        font-family: Arial, Helvetica, sans-serif;

        background-color: rgb(176, 176, 252);

        #telona {
            width: 100vw;
            height: 100vh;
            z-index: 99;
            position: fixed;
            top: 0;
            left: 0;
            backdrop-filter: blur(10px);

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .bar {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                #botao {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    background: rgba(66, 114, 155, 0.669);

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    ion-icon {
                        font-size: 30px;
                    }
                }
            }
        }

        h1 {
            font-size: 40px;
            margin: 10px
        }

        img {
            border-radius: 20px;
        }

        header {
            position: fixed;
            width: 100vw;
            background-color: rgb(77, 158, 228);
            padding: 2px;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 44px;
            padding: 10px;

            .textao {
                text-align: justify;
                margin: 10px;
                font-size: 20px;
                text-indent: 50px;
            }

            .textao.foo {
                width: 75vw;
                margin: 20px;
            }

            .doohickey {
                width: 100vw;
                display: flex;
                align-items: center;
                justify-content: center;

                .grongus {
                    display: flex;
                    flex-direction: row;
                    width: 80vw;


                    .blarb {
                        margin-left: 10px;
                        flex-direction: column;
                    }

                    img {
                        width: 300px
                    }
                }
            }

            .bege {
                background-color: beige;
            }

            .rosa {
                background-color: pink;
            }

            .dagoob {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                width: 100vw;

                .doob {
                    display: flex;
                    flex-direction: column;
                    width: 300px;

                    .img {
                        width: 200px;
                    }
                }
            }
        }
    }
}