html {
    padding: 0;

    body {
        margin: 0;
        padding-top: 44px;

        font-family: Arial, Helvetica, sans-serif;

        background-color: rgb(176, 176, 252);
        background: url("fundo.jpeg");
        background-size: 100vw 100vh;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;

        #telona {
            width: 100vw;
            height: 100vh;
            z-index: 99;
            position: fixed;
            top: 0;
            left: 0;
            backdrop-filter: blur(10px);

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .bar {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                #botao {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    background: rgba(66, 114, 155, 0.669);

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: all 0.2s ease;

                    ion-icon {
                        font-size: 30px;
                    }
                }

                #botao:hover {
                    transform: scale(1.1);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    ;
                }
            }

            img {
                width: 500px;
            }
        }

        img {
            transition: all 0.2s ease;
        }

        img:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            ;
        }

        h1 {
            font-size: 40px;
            margin: 10px
        }

        img {
            border-radius: 20px;
        }

        header,
        footer {
            position: fixed;
            width: 100vw;
            background-color: rgb(50, 117, 176);
            padding: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        header {
            top: 0;
        }

        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 44px;
            padding: 10px;

            .textao {
                text-align: justify;
                margin: 10px;
                font-size: 20px;
                text-indent: 50px;
            }

            .textao.foo {
                width: 75vw;
                margin: 20px;
            }

            .doohickey {
                width: 100vw;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;

                .grongus {
                    display: flex;
                    flex-direction: row;
                    width: 80vw;


                    .blarb {
                        margin-left: 10px;
                        flex-direction: column;
                    }

                    img {
                        width: 300px
                    }
                }
            }
        }

        footer {
            bottom: 0;
            flex-direction: column;

            p {
                margin: 0
            }
        }
    }


    .cards {
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        h1,
        h3 {
            font-size: 1.5rem;
            font-family: 'Playfair Display', serif;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 30px;
        }

        .card {
            display: flex;
            flex-direction: row;

            background: aliceblue;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            width: 80%;
            margin: 4%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            transition: all 0.2s ease-in;

            img {
                width: 200px;
            }

            div {
                flex: 1;
            }
        }

        .top {
            margin-top: 0;
        }

        .card:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            ;
        }
    }

    .dagoob {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        width: 100vw;

        .doob {
            display: flex;
            flex-direction: column;
            width: 300px;

            .img {
                width: 200px;
            }

        }
    }
}