.calculadora {
    width: 40%;
    height: auto;
    padding: 5%;
    background-color: rgb(20, 20, 20);
    border-radius: 30px;
    border: 3px solid rgba(0, 0, 0, 0.542);
    margin: auto;
    position: relative;
}
.displayos {
    width: 100%;
    height: 20%;
    border: 2px solid rgba(255, 166, 0, 0.733);
    border-radius: 10px;
    justify-content: center;
}
.displayos p {
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    color: white;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inputs input {
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.523);
    color: white;
    font-weight: 650;
    text-align: center;
}
.operacoes {
    width: 100%;
    height: auto;
}
.operacoes button {
    width: 50px;
    height: 30px;
    margin-top: 20px !important;
    color: white;
    font-weight: 700;
    background-color: rgba(49, 49, 49, 0.619);
    border: none;
    border-radius: 30px;
    text-align: center;
}