body {
    background-color: #a65dda;
    color: #ffffff; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.index-container a {
    display: block;
    margin: 10px 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.index-container a:hover {
    background-color: #ffffff;
    color: #a65dda;
}
