body {
    font-family: Arial, sans-serif;
    text-align: center;
}
 
th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
 
th {
    background-color: #ff3a7c58;
}
 
.feriado {
    background-color: rgb(255, 0, 136);
}
 
.gabarito {
    background-color: #ffb6e9;
    margin: 3vh 55vh;
    padding: 1vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 0, 136);
}
 
h2 {
    font-size: 1.2rem;
}
 
h1 {
    text-shadow: 0 0 10px rgb(255, 0, 111);
    text-align: center
    ;
}
 
.cols {
    background-color: #ffffff;
}
 
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 
.table {
    width: 23%;
    margin: 10px;
    border-collapse: collapse;
}
 
.table th,
.table td {
    border: 1px solid #ff006f;
    padding: 5px;
    text-align: center;
}