body {
    text-align: center;
    background-image:url(fundo.jpg);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

h1, h2, p {
    color: rgb(12, 9, 9);
}