header {
    font-size: 100px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}
body {
    background-color: rgb(0, 0, 0);
    background-image: url("https://th.bing.com/th/id/R.45de7ae85be3ae6eab89fdba4b35b4ea?rik=SBxJyIxRXaKtRA&pid=ImgRaw&r=0");
    background-size: 2300px;
    color: white;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    border-radius: 50px;
}
h2 {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    border-radius: 50px;
}
h3 {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    border-radius: 50px;
}
h4 {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
}
h5 {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
}
h6 {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
}
a {
    color: rgb(149, 1, 1);
    font-style: initial;
}