body{
        background-image: url("fundo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }

h1{
    color:darkblue;
    text-align: center;
}
h2{
    color:darkslateblue ;
    text-align: left;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    color:darkslategrey
}