body {
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
  .navbar {
      left: 0;
      width: 100%;
      height: 370px;
      padding: 1px 0 1px 0;
      background-color: rgb(0, 0, 0); 
      transition: opacity 0.4s; 
      position: relative;
      z-index: 9999;
  }
  .navbar.scrolled {
      opacity: 0;
}
.al h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 200px;
}
.al p {
    color: white;
    text-align: center;
    margin-top: -30px;
}
header {
    position: fixed;
    display: flex;
    opacity: 0;
    width: 100%;
    height: 50px;
    transition: background-color 0.3s;
    z-index: 99;
}
header  h1{
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.test.scrolled {
    background-color: #c0c0c0;
    color: rgb(0, 0, 0);
    opacity: 1;
    z-index: 99999;
}
.d2 {
    margin: auto 50px auto 50px;    
}
.dal {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
#barra-progresso {
    position: fixed;
    left: 0;
    width: 0;
    height: 5px;
    background-color: black; 
    transition: width 0.1s ease; 
    border-radius: 40px;
  }
.abs {
    width: 100%;
    height: 800px;
    background-color: rgb(0, 0, 0);
    margin-top: -31px;
}
.carta {
    width: 520px;
    height: 440px;
    background-color: #c0c0c0;
    border-radius: 20px;
    text-align: center;
    padding: 0 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
.carta h2 {
    font-size: 30px;
}
.carta hr {
    width: 90%;
    background-color: white;
    margin-top: -10px;
}
.carta div {
    height: 2px;
}
.carta p {
    font-size: 21px;
}
.imagenslateral {
    display: flex;
    margin-top: -390px;
}
.imagenslateral div img {
    width: 200px;
    height: 270px;
    border-radius: 2px;
    z-index: -1;
}
.ila1 {
    margin-left: auto;
    transform: rotate(7deg);
}
.ila2 {
    margin-right: auto;
    transform: rotate(-5deg);
}
.es {
    width: 680px;
}
.imgla {
    background-color: rgb(255, 255, 255);
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 50px;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
}
  .add {
    position: relative; 
  }
  
  .add::after {
    content: ''; 
    position: absolute; 
    top: 90%; 
    left: 0; 
    width: 0; 
    height: 3px; 
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease; 
  }
  
  .add:hover::after {
    width: 100%; 
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:visited {
    color: black;
  }
  marquee img {
    width: 270px;
    height:200px;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
  }
  .pasas {
    margin-top: 75px;
  }
  .passador {
    background-color: rgb(206, 206, 206);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    border-style: solid;
    border-width: 5px 0 5px 0;
    width: 100%;
  }
  footer {
    text-align: center;
    font-size: 15px;
  }
  .a1 {
    width: 96%;
  }
  .a2 {
    width: 10%;
    margin: -5px auto -10px auto;
  }
  .fotos {
    display: flex;
    position: relative;
    height: 870px;  
    
  }
  .parallax-container {
    background-image: url(imgs/horizontalimg6.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
    box-shadow: 0 0 20px;
  }
  .parallax-content {
    padding: 50px;
    color: white;
    text-align: center;
  }
  .vertical {
    position: absolute;
    padding: 5px 5px 30px 5px;
    border: 2px solid black;
    border-radius: 2px;
    width: 225px;
    height: 300px;
    background-color: white;
  }
  .horizontal {
    position: absolute;
    padding: 5px 5px 30px 5px;
    border: 2px solid black;
    border-radius: 2px;
    width: 300px;
    height: 220px;
    background-color: white;
  }
  .vertical img {
    width: 225px;
    height: 300px;
    border-radius: 2px;
  }
  .horizontal img {
    width: 300px;
    height: 220px;
    border-radius: 2px; 
  }
  .titi {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
  }
  .titi hr {
    width: 50%;
    margin-top: -20px;
  }
  .formulario {
    height: 825px;
    transition: 0.5s;
    padding: 3% 5% 0 5%;
  }
  .formulario.scrolled {
    background-color: #162938;
    margin-top: -400px;
  }
  .ti1 {
    height: 100px;
    width: 100%;
    margin-top: 0px
  }
  .ti1 h1 {
    font-size: 50px;
    background-color: transparent;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #7a7a7a;
  }
  .ti1 hr {
    border-color: #162938;
    width: 70%;
    margin: -10px 15% -10px 15%; 
  }
  #forms {
    position: absolute;
    margin-top: 2388px;
  }
  .questoes {
    background: transparent;
    backdrop-filter: blur(20px);
    width: 70%;
    height: 90%;
    margin: auto auto;
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  #galeria {
    position: absolute;
    margin-top: 1088px;
  }
  .ques {
    width: 70%;
    margin: 0 auto;
    
  }
  .ques hr {
    width: 60%;
    margin-top: 30px;
  }
  .ques h2 {
    color: #d4d4d4;
  }
  .ques input {
    width: 200px;
    height: 50px;
    background-color: transparent;
    outline: none;
    border-bottom: #223f55;
    border-width: 0 0 2px 0;
    border-style: solid;
    color: rgb(255, 255, 255);
  }
  .ques2 input {
    width: 10px;
    height: 10px;
  }
  .ques2 .ip{
    text-align: left;
    margin: auto 0;
  }
  .ques2 label {
    color: white;
  }
  .se {
    width: 2px;
    height: 50px;
    background-color: #223f55;
    margin: 0 5px;
  }
  .aaa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fim {
    font-size: 50px;
    color: aliceblue;
  }
  .tarsitions {
    width: 100%;
    height: 160px;
    background: linear-gradient(0deg, rgb(238, 238, 238), #162938, #162938);
  }
  .estilo {
    justify-content: center;
    margin-top: 30px;
  }
  .marca {
    width: 60%;
    height: 560px;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #162938;
    border-radius: 15px;
  }
  .marca img{
    width: 500px;
    height: 350px;
    border-radius: 3px;
  }
  .bor {
    padding: 10px 10px 75px 10px;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    border-radius: 3px;
    border: 2px solid black;
    background-color: white;
  }
  .bor p {
    margin-top: auto;
  }