body{
    margin: 0;
    padding: 0;
    background-image: url(fundo.jpg);
    background-color: black;
    overflow-x: hidden;
}
.btn{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg,#df5bd6, #cb61f9, #fc46de, #e43687);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}
.btn:hover{
    animation: animate 8s linear infinite;
}
.btn:before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#df5bd6, #cb61f9, #fc46de, #e43687);
    background-size: 400px;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}
.btn:hover:before{
    filter: blur(10px);
    opacity: 1;
}

@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}



header {
    position: relative;
    bottom: 100px;
    background: linear-gradient(to right, #1f2727, #000000);
    height: 600px;
    width: 100%;
    border-radius: 5px;
    color: white;
    text-align: center;
    border-bottom: 0.2rem solid blueviolet;
}


 
  h1 {
    transition: font-size 0.5s ease; /* Animação para o tamanho do texto */
  }
 
  header.scrolled h1 {
    font-size: 24px; /* Tamanho do texto ao rolar a página */
  }

.titulo {
    font-size: 100px;
    position: relative;
    top: 30%;
    font-weight: 400;
    font-family: "Concert One", sans-serif;
    color: rgb(252, 223, 255);
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(161, 85, 148), 0 0 20px rgb(161, 85, 148), 0 0 30px rgb(161, 85, 148), 0 0 40px rgb(161, 85, 148), 0 0 50px rgb(161, 85, 148), 0 0 60px rgb(161, 85, 148), 0 0 70px rgb(161, 85, 148);
}
to {
    text-shadow: 0 0 20px rgb(161, 85, 148), 0 0 30px rgb(161, 85, 148), 0 0 40px rgb(161, 85, 148), 0 0 50px rgb(161, 85, 148), 0 0 60px rgb(161, 85, 148), 0 0 70px rgb(161, 85, 148), 0 0 80px rgb(161, 85, 148);
}
}



.Mohr {
    position: relative;
    color: white;
}

.projetos {
    position: relative;
    top: 50px;
    color: white;
    border-radius: 5px;
}

  .projetos h2 {
    font-size: 2.5rem;
    margin-bottom: 120px;
    position: relative;
  }
  
  .projetos h2::after{
    content: "→";
    display: block;
    position: absolute;
    font-size: 1.75rem;
    /* right: 10px; */
    top: 130px;
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
  
  @keyframes seta {
    from {
      right: 15px;
    }
    to {
      right: 10px;
    }
  }
  
  .projetos-flex {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    padding-bottom: 10px;
  }
  
  .cada-projeto {
    width: 300px;
    height: auto;
    background-color: #EEF5F6;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    left: 100px;
    font-weight: 400;
    font-family: "Concert One", sans-serif;
  }
  
  .projetos-img {
    height: 180px;
  }
  
  .projetos-img img {
    width: 100%;
    height: 180px;
    border-radius: 16px 16px 8px 8px;
  }
  
  .cada-projeto h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #242424;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  /* .cada-projeto h3::before {
    content: "";
    width: 12px;
    height: 8px;
    display: block;
    background: linear-gradient(180deg, #417C88, #2C6571);
    margin-right: 8px;
    transition: 0.3s;
  } */
  
  .cada-projeto:hover h3::before {
    width: 20px;
  }
  
  .cada-projeto p {
    font-size: 1.125rem;
    color: #242424;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 20px 20px;
  }
  
  .cada-projeto span {
    color: #474747;
  }

  a {
    text-decoration: none;
  }

.segunda-fileira {
    position: absolute;
    left: 370px;
    top: 615px;
}

.terceira-fileira {
    position: absolute;
    left: 370px;
    top: 1px;
}