img {
    width: 200px;
}

head, body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

h1, h2, p {
    font-style: italic;
    text-align: center;
}

body { 
    background-image: url("imgfundo1.jpg");
    background-size: 1260px;
}

h1 {
    margin-top: 30px;
    color: rgb(2, 11, 0);
}

h2 {
    color: rgb(41, 103, 156);
    font-size: 40px;
    background-color: rgba(200, 212, 222, 0.573);
    margin-top: 0;
}

p {
    color: rgb(30, 112, 185);
}

.image {
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(55, 116, 157);
    color: rgb(200, 212, 222);
    padding: 30px ;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

nav {
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 10px;
    text-align: center;
    font-style: oblique;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}

a {
    font-size: xx-large;
    background-color: rgba(54, 120, 177, 0.676);
}

@media (min-width: 768px) {
    
}

@media (max-width: 768px) {
body {
    font-size: xx-large;
}
}