body {
    width: 100vw;
    height: 100dvh;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

.open-sans-p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* ! Classes padrão */
.linear-color {
    color: transparent;
    background: linear-gradient(-30deg, rgba(174, 0, 255, 0.581), rgb(255, 0, 119));
    background-clip: text;
    background-size: 200% 100%;
    background-position: 0% 50%;
    animation: cor 10s linear infinite;
}

@keyframes cor {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

/* ! Header */
header {
    width: 100vw;
    height: 70px;
    position: fixed;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.178);
    border-bottom: 2px solid rgba(0, 0, 0, 0.199);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.689);
    z-index: 100;
    display: grid;
    place-items: center;
}

header nav {
    display: flex;
    gap: 60px;
    font-size: 12px;
}
header a h2 {    
    font-weight: 600;
    color: rgba(0, 0, 0, 0.755);
    transition: .3s;
    position: relative;
}
header a h2::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width: 120%;
    height: 120%;
    z-index: -1;
    left: -10%;
    top: -10%;
    border-radius: 5px;
    transition: .3s;
}
header a:hover h2 {
    color: transparent;
    background: linear-gradient(-30deg, rgba(174, 0, 255, 0.581), rgb(255, 0, 119));
    background-clip: text;
    background-size: 200% 100%;
    background-position: 0% 50%;
    animation: cor 10s linear infinite;
}
header a:hover h2::before {
    background-color: rgb(255, 233, 254);
}

header ion-icon{
    position: absolute;
    margin-left: -95%;
    width: 35px;
    height: 35px;   
    color: rgb(255, 105, 203);
}

/* ! Section do topo */
.topo {
    width: 100vw;
    height: 100dvh;
    position: relative;
    display: flex;
    align-items: center;
}
.topo a {
    transform: scale(1.07);
    transition: .3s;
}
.topo h2 {
    color: white;
    border-radius: 30px;
    padding: 10px 30px ;
    position: relative;
    margin-right: 50px;
    font-weight: 500;
    box-shadow: 0 0px 00px rgba(0, 0, 0, 0);
    transition: .3s;
    font-size: 17px
}
.topo a:hover {
    transform: translateY(-3px) scale(1.1);
}
.topo a:hover h2 {
    box-shadow: 0 10px 20px rgba(255, 117, 214, 0.405);
}
.sim1 {
    background: linear-gradient(-30deg, rgba(174, 0, 255, 0.581), rgb(255, 0, 119));
    background-size: 200% 100%;
    background-position: 0% 50%;
    animation: cor 10s linear infinite;

}
.sim2 {
    color: rgba(0, 0, 0, 0.7) !important;
    background-color: white;
    animation: none;
}
.sim2::before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 30px;background: linear-gradient(-30deg, rgba(174, 0, 255, 0.581), rgb(255, 0, 119));
    background-size: 200% 100%;
    background-position: 0% 50%;
    animation: cor 10s linear infinite;
    left: calc(-5px / 2);
    top: -1.5px;
    z-index: -10;
}

.circulo {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.214);
    z-index: -1;
    animation: circles ease-in-out infinite;
}

@keyframes circles {
    0% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(-2px);
    }
}

.circulo1 {
    margin-top: 10%;
    margin-left: 32%;
    width: 200px;
    height: 200px;
    animation-duration: 4s;
}

.circulo2 {
    margin-top: -5%;
    margin-left: 60%;
    width: 300px;
    height: 300px;
    animation-duration: 3s;
}

.introducao {
    width: 42%;
    height: 100%;
    margin-left: 8%;
    align-content: center;
}

.introducao h1 {
    font-size: 67px;
    line-height: 67px;
    font-weight: 750;
    letter-spacing: -4px;
}

.introducao p {
    position: relative;
    color: rgba(0, 0, 0, 0.736);
    font-size: 20px;
    margin-top: -20px;
}

.terminal {
    width: 40%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0);
    align-content: center;
    justify-items: center;
    color: white;
    position: relative;
}

.term {
    width: 450px;
    height: 250px;
    background-color: rgb(0, 13, 27);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.term-head {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 123, 255, 0);
    display: flex;
    justify-content: start;
    align-items: end;
}

.term-head-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: 5px;
}

.term-head div:nth-child(1) {
    background-color: rgb(255, 0, 0);
    margin-left: 20px;
}

.term-head div:nth-child(2) {
    background-color: rgb(255, 255, 0);
}

.term-head div:nth-child(3) {
    background-color: rgb(0, 255, 0);
    position: relative;
}

.term-head-text {
    color: rgba(177, 177, 177, 0.884);
    background-color: rgba(143, 143, 143, 0.253);
    font-size: 10px;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
    margin-left: auto;
    user-select: none;
    cursor: pointer;
    margin-right: 20px;
}

.term p {
    margin-left: 40px;
    position: relative;
    top: 15px;
}

.term-result {
    width: 100%;
    height: 40px;
    background-color: rgb(0, 7, 14);
    position: absolute;
}

.term-result p {
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    height: 40px;
    line-height: 40px;
}

/* ! Projetos */
.projeto-section {
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 255, 128, 0);
    justify-items: center;
}

.meus-projetosh {
    text-align: center;
    font-size: 50px;
    display: flex;
    position: relative;
    max-height: 70px;
}

.meus-projetosh::before {
    content: "";
    position: absolute;
    width: 120%;
    left: -10%;
    top: 3px;
    height: 100%;
    background-color: rgba(249, 172, 255, 0.215);
    border-radius: 30px;
    z-index: -1;
}

.projetos {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 30%; /* Increased padding to 30% on the left and right */
    box-sizing: border-box;
}

.ano-container {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(255, 249, 255);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.ano-container::before {
    position: absolute;
    content: "";
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    border-radius: 50px;
    background-color: rgba(249, 172, 255, 0.215);
    z-index: -10;
    transition: .3s;
    transform: scale(1.05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.155);
}

.ano-container:hover::before {
    transform: scale(1.1);
}

.ano-container h2 {
    text-align: center;
    color: rgba(255, 192, 203, 0.884);
    text-shadow: 0 0 2px rgba(255, 0, 187, 0.345);
    transition: .3s;
}

.projetos:has(#ano1:checked) .ano1,
.projetos:has(#ano2:checked) .ano2 {
    background-color: rgb(255, 248, 249);
}

.projetos:has(#ano1:checked) .ano1 h2,
.projetos:has(#ano2:checked) .ano2 h2 {
    color: transparent;
    background: linear-gradient(-30deg, rgba(174, 0, 255, 0.581), rgb(255, 0, 119));
    background-clip: text;
    background-size: 200% 100%;
    background-position: 0% 50%;
    animation: cor 10s linear infinite;
}

.projetos:has(#ano1:checked) .ano1::before,
.projetos:has(#ano2:checked) .ano2::before {
    background-color: rgba(255, 0, 183, 0.134);
    transform: scale(1.1);
    box-shadow: 0 5px 0px rgba(255, 0, 221, 0.155);
}

.ano {
    display: none;
}

.card-container {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    position: absolute;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.sim {
    transform: translateY(-20px);
    font-weight: 700;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.558);
}
.card {
    margin: auto;
    max-width: 100%;
    min-width: 360px;
    box-sizing: border-box;
    height: 250px;
    background-color: rgba(240, 248, 255, 0.242);
    border: 2px solid rgba(220, 220, 220, 0.338);
    position: relative;
    border-radius: 30px;
    padding: 30px;
    overflow: hidden;
    transition: .3s;
}
a {
    text-decoration: none;
}
.card:hover {
    background-color: rgba(225, 0, 255, 0.032);
    border: 2px solid rgba(255, 0, 242, 0.081);
    transform: translateY(-7px);
}
.card::before {
    content: "";
    position: absolute;
    background-color: rgba(222, 130, 198, 0.138);
    width: 100px;
    height: 100px;
    transform: rotateZ(45deg) scaleX(3);
    margin-left: calc(100% - 80px);
    margin-top: -80px;
    transition: .3s ease-in-out;
}
.card:hover::before {
    margin-left: calc(100% - 100px);
    margin-top: -60px;
    background-color: rgba(255, 162, 230, 0.337);
}
.card-icon {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 189, 236, 0.777);
    border-radius: 20px;
    transition: .3s;
    filter: drop-shadow(0 0 40px rgba(255, 0, 174, 0.548));
}
.card:hover .card-icon ion-icon {
    width: 45px;
    height: 45px;
    margin-top: 7.5px;
    margin-left: 7.5px;
}
.card-icon ion-icon {
    color: rgba(255, 0, 123, 0.715);
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    transition: .3s ease-in-out;
}
.card-text h1 {
    color: rgba(0, 0, 0, 0.959);
    transition: .3s ease-in-out;
}
.card:hover  .card-text h1 {
    color: transparent;
    background: linear-gradient(-30deg, rgba(174, 0, 255, 0.581), rgb(255, 0, 119));
    background-clip: text;
    background-size: 200% 100%;
    background-position: 0% 50%;
    animation: cor 10s linear infinite;
}
.card-text p {
    color: rgba(0, 0, 0, 0.792);
}







/* ! Index da Manu Mohr */
.load-text {
    display: none;
    line-height: 55px;
    text-align: center;
    width: auto;
    font-weight: 900;
    font-size: 60px;
}

.mamo {
    width: 100%;
    position: relative;
}

.ma {
    position: absolute;
    animation: tras 2s ease forwards;
}

.ma::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
}

.mo {
    margin-left: 20px;
    opacity: 0;
    animation: frente 2s ease forwards;
    z-index: -10;
    position: relative;
}

@keyframes tras {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    100% {
        margin-left: auto;
    }
}

@keyframes frente {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
        opacity: 0;
    }

    100% {
        margin-left: 190px;
        opacity: 1;
    }
}