.imagem{
    display: flex;
    width: 560px;
    height: 215px;
    margin-left: auto;
    margin-right: 260px;
    margin-top: 180px;
}
.imagem2{
  display: flex;
  width: 560px;
  height: 215px;
  margin-left: auto;
  margin-right: 260px;
  margin-top: 180px;
}

header {
    width: 100%;
    padding: 1px;
    text-align: center;
    height: 50px;
}
nav ul li {
    align-content: center;
    display: inline-block;
    padding: 5px;
}
a {
    color:white;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transition: ease-in-out 2s;
  color: #26bde2;
}


* {
    padding: 0;
    margin: 0;
    font-family: Arial;
  }
  body {
    background: linear-gradient(#26bde2 40%, #32a0cb 50%, #101414 80%);
    overflow-x: hidden;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }
  
  .loader h1 {
    font-size: 6.5em; 
    color: transparent;
    background: url(https://image.ibb.co/n0WjaA/wave.png) repeat-x;
    background-size: cover;
    -webkit-background-clip: text;
    animation: wave 60s linear infinite;
  }
  .tagline {
    text-align: center;
    text-transform: uppercase;
    display: block;
    letter-spacing: .0em;
    margin: 10px 0 10px;
    color: #aaa;
  }
  section {
    flex-direction: column;
    flex-basis: 19%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
article {
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    position: relative;
    padding-block: 32px;
}
h2{
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: block;
  justify-content: center;
  min-height: 50dvh;
  letter-spacing: .1em;
}
p{
  color: white;
  display: block;
  min-height: 83dvh;
  letter-spacing: .1em;
  position: relative;
  bottom: 400px;
  margin-right: 650px;
  margin-left: 100px;
  text-align: end;
}
p1{
  color: white;
  display: flex;
  position: relative;
  bottom: 871px;
  letter-spacing: .1em;
  margin-right: 100px;
  margin-left: 650px;
  text-align: start;
}
p2{
  color: white;
  display: flex;
  letter-spacing: .1em;
  position: relative;
  bottom: 400px;
  margin-right: 350px;
  margin-left: 350px;
}
div{
  color: white;
  letter-spacing: .1em;
  text-align: center;
}
  @keyframes wave {
    0% {
      background-position: left -1400px top 10px
    }
  
    25% {
      background-position: left 200px top 15px;
    }
  
    50% {
      background-position: left 1200px top 20px;
    }
  
    100% {
      background-position: left 1400px top 25px;
    }
  }
  .btn-container, .container {
    background-color: white;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 40px;
  }
  .btn, .btn-two {
    margin: 9px;
  }
  .btn-gradient {
    margin: 5px;
  }
  a[class*="btn"] {text-decoration: none;}
  input[class*="btn"], 
  button[class*="btn"] {border: 0;}
  
  /* Here you can change the button sizes */
  .btn.large, 
  .btn-two.large, 
  .btn-effect.large {
    padding: 20px 40px; 
    font-size: 22px;
  }
  .btn.small, 
  .btn-two.small, 
  .btn-gradient.small, 
  .btn-effect.small {
    padding: 8px 18px;  
    font-size: 14px;
  }
  .btn.mini, 
  .btn-two.mini, 
  .btn-gradient.mini, 
  .btn-effect.mini {
    padding: 4px 12px;  
    font-size: 12px;
  }
  .btn.block, 
  .btn-two.block, 
  .btn-gradient.block, 
  .btn-effect.block {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .btn-gradient.large {
    padding: 15px 45px; 
    font-size: 22px;
  }
  
  /* Colors for .btn and .btn-two */
  .btn.blue, .btn-two.blue     {background-color: #7fb1bf;}
  .btn.green, .btn-two.green   {background-color: #9abf7f;}
  .btn.red, .btn-two.red       {background-color: #fa5a5a;}
  .btn.purple, .btn-two.purple {background-color: #cb99c5;}
  .btn.cyan, .btn-two.cyan     {background-color: #7fccde;}
  .btn.yellow, .btn-two.yellow {background-color: #f0d264;}
  
  .rounded {
    border-radius: 10px;
  }
  
  /* default button style */
  .btn {
    position: relative;
    border: 0;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    color: white;
  }
  .btn:active {
    top: 4px;	
  }
  
  /* color classes for .btn */
  .btn.blue {box-shadow: 0px 4px #74a3b0;}
  .btn.blue:active {box-shadow: 0 0 #74a3b0; background-color: #709CA8;}
  .btn-two {
    color: white;	
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                0 2px 0 -1px rgba(0,0,0,0.13), 
                0 3px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
                position: relative;
                left: 38%;
                margin-right: 1%;
                
  }
  .btn-two:active {
    top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: relative;
  }
  