body{
 background-color: rgb(217, 244, 244);
}
h1{
    color:navy;
    text-align: center;
}
h2{ color:#003777;
    text-align: center;
}
a:link, a:visited { text-decoration: none; } 
a:hover { text-decoration: underline; }
a.one:visited { color: #028f9a; } 
a:link {text-align: center;}
p{  
    margin-left: auto;
    margin-right: auto;
}
strong{
    color:darkslateblue;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a:link{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
