@media (min-width: 768px) {
  body {
    background-image: url(fundobranco.jpg);
    font-family: 'Courier New', Courier, monospace;

    a {
      color: rgb(31, 28, 28);
    }

    a:visited {
      color: rgb(31, 28, 28);
    }

    a:hover {
      color: rgb(31, 28, 28);
    }

    a:active {
      color: rgb(31, 28, 28);
    }
  }
}

@media (max-width: 768px) {
  body {
    background-image: url(fundo.jpg);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(122, 118, 118);
    
    a {
      color: rgb(163, 152, 152);
    }

    a:visited {
      color: rgb(163, 152, 152);
    }

    a:hover {
      color: rgb(163, 152, 152);
    }

    a:active {
      color: rgb(163, 152, 152);
    }
  }
}