body {
    background-image: linear-gradient(90deg, black, #00ff1a, white);
}
h1 {
    text-align: center;
    color: #000000;
    background-image: linear-gradient(90deg, black, #00ff1a, white);
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    text-align: center;
    background-image: linear-gradient(90deg, black, #00ff1a, white);
    color: #000000;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    background-image: linear-gradient(90deg, black, #00ff1a, white);
    color:#00ff1a;
    font-family: 'Courier New', Courier, monospace;
}
p {
    background-image: linear-gradient(90deg, black, #00ff1a, white);
    color: #7a6a4f;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.computer {
    background-image: linear-gradient(90deg, black, #00ff1a, white);
    color:#00ff1a;
    font-family: 'Courier New', Courier, monospace;
}
li {
    background-image: linear-gradient(90deg, black, #00ff1a, white);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.hack {
    background-image: linear-gradient(90deg, black, #00ff1a, white);
    color: #00ff1a;
    font-family: 'Courier New', Courier, monospace
}
.cap {
    background-image: linear-gradient(90deg, black, #00ff1a, white);
    color:#00ff1a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hacker {
    color: #ffffff;
    background-image: linear-gradient(90deg, black, #00ff1a, white);
}
.html {
    text-align: center;
    background-image: linear-gradient(90deg, black, #00ff1a, white);
    color:#000000;
}
.fcd {
    animation-name:inherit;
}
.coisa{
    color: #00ff1a;
    background-color: #000000;
}
.tech {
    background-image: linear-gradient(90deg, black, #00ff1a, white);
    color: #000000;
    text-align:center;
}