 body {
  background-color: black;
}
img {
  width: 560px;
  height: 315px;
}
.titulo {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  margin: 0;
}
.caixa {
  color: rgb(15, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center
}
header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
.box {
  background-color: black;
  color: white;
  border: 100px;
  border-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 600px;
  height: auto;
  align-items: center;
  text-align: center;
  margin-left: 29%;
  margin-right: 29%;
}
.button {
  background-image: linear-gradient(90deg, black, white);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  font-size: 16px;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  align-items: cen;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgb(40, 5, 236),0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #555555;
  color: white;
  align-items: center;
}
a {
  color: rgb(24, 21, 21);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  align-items: center;
}