* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', Arial, Helvetica, sans-serif; */
}

body {
    font-family: monospace;
    color: #120539;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
header {
    background-color: #46347C;
    padding: 20px 0;
}
  
h1 {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    font-family: monospace;
}
  
.nav-header {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
  
.nav-header a {
    color: #d499f7;
    font-size: 1.125rem;
    transition: color 0.3s;
}
  
.nav-header a:hover {
    color: #20ecff;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
}
  
.texto {
    max-width: 800px;


}
  
.texto h2 {
    font-size: 2.5rem;
    font-family: monospace;
    margin-bottom: 20px;
}
  
.texto p, .texto ul {
    font-size: 1.125rem;
    margin-bottom: 20px;
    line-height: 1.6rem;
    text-indent: 30px;

    text-align: justify;

}
  
.texto h4 {
    font-size: 1.5rem;
    font-family: monospace;
    margin-bottom: 10px;
}
  
section {
    padding: 50px 0;
}
  
.site-bg {
    background: linear-gradient(to bottom right, #46347C, #8a7bb8);
}
  
.video-bg {
    background: linear-gradient(to bottom right, #8a7bb8, #46347C);
}
  
.influenciador-bg {
    background: linear-gradient(to bottom right, #46347C, #8a7bb8);
}
  
.tutorial-bg {
    background: linear-gradient(to bottom right, #8a7bb8, #46347C);
}
  
.podcast-bg {
    background: linear-gradient(to bottom right, #46347C, #8a7bb8);
}
  
.diferenciais-bg {
    background: linear-gradient(to bottom right, #8a7bb8, #46347C);
    color: #230f5e;
}

.faq-bg {
    background: linear-gradient(to bottom right, #46347C, #8a7bb8);
}
  
.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
  
.card {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.card h3 {
    font-size: 1.5rem;
    font-family: monospace;
    margin-bottom: 10px;
}
    
.faq-item {
    margin-bottom: 20px;
}
  
.faq-item h4 {
    font-size: 1.25rem;
    font-family: monospace;
    margin-bottom: 10px;
}

img {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
}
  
@media (max-width: 768px) {
    .nav-header {
        flex-direction: column;
    }
    .grid {
        padding: 20px;
    }
    .texto p, .texto ul {
        font-size: 1rem;
    }
    .texto h2 {
        font-size: 2rem;
    }
    .texto h4 {
        font-size: 1.25rem;
    }
    .cards {
        flex-direction: column;
    }
}