@font-face {
    font-family: edu;
    src: url("Optional.otf");
}

@font-face {
    font-family: dudu;
    src: url("BebasNeue-Regular.otf");
}


* {
    margin: 0;
    font-family: dudu; 
    scroll-behavior: smooth;
    font-size: 25px;
}

body {
    background-color: #3a4c40;
    color: white;
    text-align: center;
}

header {
    background-color: #3a4c40;
    padding: 200px;

    h3 span {

        font-family: edu;
        font-size: 75px;
    }

    #bot {
        padding: 5px;
        border-radius: 5px;
        background-color: #fff;
        color: #000;
        width: fit-content;
        position: fixed;
        left: 0;
        top: 0;
        margin: 10px;
    }
}


.ods {
    background-color: #486856;
    padding: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;


    .texto {
        width: 30%;
    }

    div {
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        font-size: 18px;

    }

}

.icone {
    border-radius: 10px;

}

a {
    color: black;
}

.referencias {
    background-color: #507963;
    color: black;
    padding: 200px;
}

iframe {
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 35px;
}

.imagem {
    background-color: #588970;
    padding: 200px;
}

.mentes {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 18px;
}

.problemadepesquisa {
    background-color: #5f967c;
    padding: 200px;
}

.problema1 {
    text-align: justify;
    margin-left: auto;
    margin-left: auto;
}

.pesquisa {
    background-color: #6aa68b;

}

.solucoes {
    margin-top: 5px;
}

.objetivo {
    background-color: #7cb69d;
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 18px;
}

.rodape {
    background-color: #9ccbb8;
    padding: 200px;
   
    h3 span {
        
        font-family: edu;
        font-size: 75px;
    }
}

.pt {
    display: inline;
}

.en {
    display: none;
}