@font-face {
    font-family: edu;
    src: url("Optional.otf");
}

* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

body {
    background-color: #132A13;
    color: white;
    text-align: center;
}

header {
    background-color: #5F6F52;
    padding: 200px;

    h3 {

        font-family: edu;
        font-size: 75px;
    }
}


.ods {
    background-color: #A9B388;
    padding: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;


    .texto {
        width: 30%;
    }

    div {
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        font-size: 18px;

    }

}

.icone {
    border-radius: 10px;

}

a {
    color: black;
}

.referencias {
    background-color: #FEFAE0;
    color: black;
    padding: 200px;
}

iframe {
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 35px;
}

.imagem {
    background-color: #F9EBC7;
    padding: 200px;
}

.mentes {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 18px;
}

.problemadepesquisa {
    background-color: #B99470;
    padding: 200px;
}

.problema1 {
    text-align: justify;
    margin-left: auto;
    margin-left: auto;
}

.pesquisa {
    background-color: #C4661F;

}

.solucoes {
    margin-top: 5px;
}

.objetivo {
    background-color: #C4661F;
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 18px;
}

.rodape {
    background-color: #783D19;
    padding: 200px;
   
    h3 {
        
        font-family: edu;
        font-size: 75px;
    }
}