@font-face {
    font-family: edu;
    src: url("Optional.otf");
}

@font-face {
    font-family: dudu;
    src: url("BebasNeue-Regular.otf");
}


* {
    margin: 0;
    font-family: dudu; 
    scroll-behavior: smooth;
    font-size: 25px;
}

body {
    background-color: #3a4c40;
    color: white;
    text-align: center;
}

.header {
    padding: 200px;

    h3 span {

        font-family: edu;
        font-size: 75px;
    }
}
.header.p {
    background-color: #488CFF;
}
.header.e {
    background-color: #009695;
}

#bot {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    width: fit-content;
    position: fixed;
    left: 0;
    top: 0;
    margin: 10px;
    z-index: 99;
}

section:hover, header:hover, #bot:hover, footer:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
    z-index: 1
}


.ods {
    background-color: #7C95FF;
    padding: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;


    .texto {
        width: 30%;
    }

    div {
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        font-size: 18px;

    }

}

.ods.p {
    background-color: #7C95FF;
    padding: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ods.e {
    background-color: #00A894;
    padding: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icone {
    border-radius: 10px;

}

a {
    color: black;
}

.referencias.p {
    background-color: #9F9FFF;
    color: black;
    padding: 200px;
}
.referencias.e {
    background-color: #00BA8C;
    color: black;
    padding: 200px;
}

iframe {
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 35px;
}

.imagem.p {
    background-color: #BBA9FF;
    padding: 200px;
}
.imagem.e {
    background-color: #48C97E;
    padding: 200px;
}

.mentes {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 18px;
}

.problemadepesquisa.p {
    background-color: #D4B5FF;
    padding: 200px;
}

.problemadepesquisa.e {
    background-color: #7FD671;
    padding: 200px;
}

.problema1 {
    text-align: justify;
    margin-left: auto;
    margin-left: auto;
}

.pesquisa {
    background-color: #6aa68b;

}

.solucoes {
    margin-top: 5px;
}

.objetivo.p {
    background-color: #EAC1FF;
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 18px;
}

.objetivo.e {
    background-color: #AEE163;
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 18px;
}


.resultadosesperados.p {
    background-color: #FDCEFF;
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 18px;
}

.resultadosesperados.e {
    background-color: #DBEB57;
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 18px;
}

.rodape.p {
    background-color: #FFE3F6;
    padding: 200px;
   
    h3 span {
        
        font-family: edu;
        font-size: 75px;
    }
}

.rodape.e {
    background-color: #FFF39E;
    padding: 200px;
   
    h3 span {
        
        font-family: edu;
        font-size: 75px;
    }
}

.pt {
    display: inline;
}

.en {
    display: none;
}