@media (max-width:768px) {
    body {
        text-align: center;
        background-color: rgb(3, 3, 86);
    }

    h1 {
        color: whitesmoke;
        text-align: center;
    }

    h2 {
        color: whitesmoke;
    }

    p {
        color: whitesmoke;
    }

    img {
        height: 300;
        width: 600;
        display: block;
        margin-left: auto;
        margin-right: auto;

        p {
            color: whitesmoke;
        }
    }

    .back {
        width: 80%;
        background-color: rgb(16, 14, 14);
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }

    header {
        background-color: black;
        color: #ffff;
        width: 100%;
    }

    header h1 {
        font-size: 30px;
        text-align: center;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 0 0 20px 20px;
    }

    nav ul li {
        list-style: none;
        display: inline-block;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        padding: 0 15px;
    }
}

@media (min-width: 768px) {
    body {
        text-align: center;
        background-color: rgb(3, 3, 86);
    }

    h1 {
        color: whitesmoke;
        text-align: center;
    }

    h2 {
        color: whitesmoke;
    }

    p {
        color: whitesmoke;
    }

    img {
        height: 300;
        width: 600;
        display: block;
        margin-left: auto;
        margin-right: auto;

        p {
            color: whitesmoke;
        }
    }

    .back {
        width: 80%;
        background-color: rgb(16, 14, 14);
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }

    header {
        background-color: black;
        color: #ffff;
        width: 100%;
    }

    header h1 {
        font-size: 30px;
        text-align: center;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 0 0 20px 20px;
    }

    nav ul li {
        list-style: none;
        display: inline-block;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        padding: 0 15px;
    }

}