
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header Styling */
header {
    background: linear-gradient(135deg, #005AA7 0%, #FFFDE4 100%);
    padding: 6rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header-content {
    position: relative;
    z-index: 2;
    color: #fff;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: slideDown 1s ease-out;
}

header p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    animation: fadeIn 2s ease-out;
}

.btn {
    display: inline-block;
    background-color: #fff;
    color: #005AA7;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 2s ease-out;
}

.btn:hover {
    background-color: #005AA7;
    color: #fff;
}

/* Header Animations */
@keyframes slideDown {
    0% { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Section Styling */
.section {
    padding: 4rem 2rem;
    margin: 1rem 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 2.5rem;
    color: #005AA7;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1.2rem;
    color: #555;
}

/* Equipe Section */
.equipe-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.equipe-foto {
    max-width: 300px;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.equipe-foto:hover {
    transform: scale(1.05);
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.2rem;
    }

    .section h2 {
        font-size: 2rem;
    }

    .section p {
        font-size: 1rem;
    }
}


.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; /* Adiciona largura total para os cards */
    z-index: 2; /* Mantém os cards acima das estrelas */
}

.card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.10); 
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;}
  
    .logo{
        width: 300px;
    }
    .card-image{
        width: 100px;
        border-radius: 20px;
    }