body {
    margin: 0;
    background-color: rgb(227, 227, 227);
    font-family: sans-serif;
}
.ti {
    margin: 70px auto auto auto;
    background-color: rgb(211, 211, 211);
    width: 400px;
    height: 90px;
    border-radius: 20px;
    box-shadow: 0 0 20px darkgrey;
}
.ti h1 {
    text-align: center;
    font-size: 50px;
    transition: 0.3s;
}
.ti p {
    text-align: center;
    margin-top: -30px;
    font-size: 15px;
}
.sit {
    margin: 30px auto auto auto;
    width: 400px;
    height: 400px;
    background-color: rgb(211, 211, 211);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    border-radius: 20px;
    box-shadow: 0 0 20px darkgray;
}
.ex {
    width: 160px;
    height: 50px;
    background-color: rgb(185, 185, 185);
    margin: 20px 10px 0 10px;
    border-radius: 20px;
    align-content: center;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
}
a { 
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
.ex3, .ex4 {
    margin-top: -140px;
}
.ex:hover {
    background-color: rgb(149, 149, 149);
    box-shadow: 0 0 20px rgb(118, 118, 118);
    transform: scale(1.1);
}
h1:hover {
    transform: scale(1.05);
    text-shadow: 0 0 20px black;
}