.cabeçalho {
    text-align: center;
    font-size: 30px;
    height: 35px;
    color: black;
    font-family: impact, serif;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
}

a {
    color: white;
    font-size: 20px;
    position: relative;
    right: 9px;
    text-decoration: none;
}

a:hover {
    color: #ff6347;
    transition: color 1s;
}

body {
    background-image: url("image.png");
    background-size: 1260px;
}

.texto {
    position: relative;
    top: 150px;
    left: 120px;
    text-align: center;
    background-color: gray;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 0 20px 0 black;
}

.texto:hover {
box-shadow: 0 0 30px 0 black;
}

h2 {
    margin-left: 100px;
    margin-right: 100px;
}

.link1 {
    position: relative;
    right: 300px;
}

.link2 {
    position: relative;
    right: 200px;
}

.link3 {
    position: relative;
    left: 300px;
}

.link4 {
    position: relative;
    right: 00px;
}
