.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

img{
    height: 10vw;
    width: 10vw;
    border-radius: 5vw;
}

body{
    padding: 0 10vw;
    background-color: rgb(219, 219, 219);
    font-family: Arial, Helvetica, sans-serif;
}

.folha{
    background-color: white;
    width: 60vw;
    margin: 0 auto;
    padding: 2vw
}

.fim{
    text-align: center;
}
