body {
    background-color: blue;
}
.alin {
    width: 70%;
    margin: 35px;
    border: solid 4px black;
    border-radius: 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}
h1 {
    color: blue;
    font-size: 30px;
}
li {
    text-align: center;
}