
.branco {
    color:aliceblue
}
body {
    background-image: url(https://i.pinimg.com/564x/03/c8/9e/03c89ed6387c405fa6689c844c9aab50.jpg)
}
p {
    color: aliceblue;
}
@media (min-width: 768px) {
    body {
        background-color: red;
    }
}

@media (max-width: 768px) {
body {
    background-color: aqua;
    font-size: xx-large;
}
}