/*body{background-color: aquamarine;}
h1{
    color: red;
    text-align: center;
}
h2{
    color: blue;
}
p{
    color: red;
}*/
body{background-color: #00ffff;}
h1{
    color: #ff0000;
    text-align: center;
}
h2{
    color: #0000cc;
}
p{
    color: #ff0000;
}