*{
    margin: 0%;
    padding: 0%;

}

body{
    background-color: rgba(127, 212, 251, 0.452);
    background-size: 100% 100%;
}

p{
    color: rgb(0, 0, 0);
    margin-left: 2%;
    margin-right: 2%;
}

h2{
    color: rgb(0, 0, 0);
}

li{
    color: rgb(48, 176, 255);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-left: 30px;
    font-size: medium;
}
#menu{
    display: flex;
    list-style: none;
    text-align: center;
    
}
header{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color:  rgb(18, 0, 107);
    
}
#menu a{ 
    display: block;
    padding: .5rem;
    text-align: right;
    color: rgb(255, 255, 255);
}



a:hover{
    background-color:rgba(0, 32, 102, 0.703);
    transition: 1s;
}


nav{
    font-family: monospace;
    font-style: italic; 
      
}
    


.eca{
    text-align: center;
}



header{
    display: flex;
    justify-content: center;
}
  
header input{
    background-color: rgb(0,0,0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}
  
header input:hover{
    padding: 13px;
}
  
  
img{
    text-align: center;
    border-radius: 10%;
    max-width: 490px;
    margin-bottom: 0;
    box-shadow: 0 0 20px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
    
}


.card{
    background-color: rgb(247, 255, 139);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    margin-bottom: 2%;
    box-shadow: 0 0 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #dda838;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    text-shadow: 0 0 20px #f7ee00;
}

