body {
   text-align: center; 
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: rgb(115, 115, 115);
}

.tudo {
    width: 80%;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 2, 63);
    border-radius: 20px;
}
.tudo:hover {
    box-shadow: 0 0 20px rgb(0, 61, 94);
    transition: box-shadow 0.3s ease-in-out;
}

body {
    background-image: url(fundo.jpg);
}

