body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255) );
}
div{
    background-color: #f0f0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
.submit{
    background-color: #00b3ff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 100%;
    color:white;
    font-size: 15px;
}
.submit:hover{
    background-color: #1927c2;
    cursor: pointer;
}

