h1 {
    font-family:"Castellar";
    color: aquamarine;
}
body {
    background-image: url(fundo6.jpg);
}
hr {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 252, 239);
}
h2 {
    font-size: 20px;
    font-family:"italic";
    font-size: 200%;
    color: aliceblue;

}
a {
    color:rgb(43, 214, 226)
}
p {
    font-size: 13px;
    font: italic;
    font-size:large;
    color: aliceblue;
}
.linketo {
    position: relative;
    bottom: 10px;
}
.linketo2 {
    position: relative;
    bottom: 10px;
}
.letori {
    position: relative;
    bottom: 10px;
}